[2020-06-09 07:07] fangism commented on #313
No problem.  Make sure you sync up through at least https://github.com/google/verible/commit/bdbc19b016898410e8eb3c0b327d822f1acbd994 because I've made some interface improvements that should help with controlling alignment.

[2020-06-09 20:03] #169 closed

[2020-06-10 04:50] fangism opened #327 "spacing around time literals like "1ps" not handled (and thus, preserved)"
In the inter-token spacing annotation, several cases around tokens like `1ps` are being space-preserved (default) because their spacing policies are not explicitly handled.

This is evident when running `verilog_format --show_token_partition_tree --show_inter_token_info on` any example with time literals.

[2020-06-10 04:50] fangism commented on #327
b/158625965

[2020-06-16 11:30] zegervdv opened #328 "One line statements with comments"
I'm running some formatting tests with code from the lowRISC styleguide and I'm getting unexpected results.

Example code:
[code]

After formatting I expect the single line expression after the first two cases to be moved to the same line.
This is the case for the first one, but the second one is left untouched (because of the comment after that line).
Also note the missing indentation on the line

[2020-06-16 17:24] fangism commented on #328
The //comment between `STA:` and `next_state = STB;` prevents them from being moved onto the same line, the formatter does not re-order comment and non-comment tokens.

However, if you wrote:

[code]

that would be considered movable by the formatter.

Also note that at this time, the formatter doesn't support "re-flowing" of comments yet, that is moving around text among consective `//comment` li

[2020-06-16 20:07] zegervdv commented on #328
Understood, the re-flowing issue does not sound like a trivial problem :)

Do you think a linting rule to disallow comments before a single line statement would be acceptable to prevent (unintended) code like this? We want to avoid this code construct, but the comment line blocks the formatter from fixing it.

I agree the wrapping error is the main focus for this issue here.

[2020-06-16 20:30] fangism commented on #328
I have plans on how to handle re-flowing of comments, string-literals, multi-line macro definitions, but it also requires similar enhancements to the equivalence checker (verifies that the result of formatting is equivalent to the original).  It would require more changes to the detail-formatter because what was once atomic is now "soft".

I don't think discouraging a comment in that location is a

[2020-06-17 18:42] fangism opened #329 "Check for style-compliant format-string numeric specifiers"
According to our style guide, we should always display numbers in the following manner:

[code]

[code]

See:
https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md#number-formatting

This includes any task function that is `$display`-like, including `$sformat`.

[2020-06-17 18:43] fangism commented on #329
b/120784977

[2020-06-17 18:45] fangism commented on #329
Possible approach might start with analyzing all string-literals (not just those in `$sformat` args):

[code]

[2020-06-17 20:54] pdonahue-ventana opened #330 "Inconsistent whitespace in [SIZE-1:0] vector declarations"
The whitespace surrounding operators in vector declarations is inconsistent between vectors of built-in types and vectors of user-defined types:
[code]

I would expect both of them to either be `[SIZE-1:0]` or `[SIZE - 1:0]` (preferably the former) rather than a mixture.  The space before the opening bracket is also inconsistent.

Thanks.

[2020-06-17 23:05] fangism commented on #330
Confirmed.  At this time, our style guidance makes an exception to allow compact or padded binary expressions inside `[]` for declaration dimensions, and I've consciously chosen to leave these all of these spaces alone for the moment to reduce churn.

Here is the excerpt of code that controls that spacing behavior:

https://github.com/google/verible/blob/b8504ca0596871b6791db5695dd93b39fa44c6aa/ve

[2020-06-17 23:12] fangism commented on #330
Quick triage:

`verible-verilog-format --show_token_partition_tree --show_inter_token_info`:

[code]

We just need to make the min-spacing value between `ID` and `[` to be 1 in a declarative context.  The formatter supports context-aware policies.

[2020-06-17 23:16] fangism commented on #330
b/159256218 (internal reference)

[2020-06-17 23:19] fangism commented on #330
A suggested test case for whomever takes this:

Expect formatter to produce:

[code]

Note that spacing comes after `type_t`, but not `w`.

[2020-06-19 08:55] tgorochowik opened #333 "Consider adding verible linter to the new super-linter released by github"
Github has recently [released](https://github.blog/2020-06-18-introducing-github-super-linter-one-linter-to-rule-them-all/) a [super-linter](https://github.com/github/super-linter).

It combines various linters in one project.

The main benefit of this is it comes with an easily available and usable github action which makes it possible to use it easily in all github repositories.

I think it make

[2020-06-19 09:17] tgorochowik opened #334 "Consider using a standardized output for verible linter"
It would be beneficial to allow the linter to output it's messages in a way that is standardized and easy to parse by various tool.

@wallento is working on something similar for verilator, it may be a good idea to use exactly the same format in verible to be able to use both linters interchangeably (or together) and not having to worry parsing different outputs.

I think there is no implementatio

[2020-06-19 09:33] zegervdv opened #335 "Missing indentation on named arguments of functions"
When formatting function calls with 'named arguments' (not sure what they are called) the formatter does not indent the arguments in the same way as for unnamed arguments.

Example:
[code]

For unnamed arguments (if the line were long enough) this would be:
[code]

Adding some indentation before the arguments seems more readable to me:
[code]

[2020-06-19 17:39] fangism commented on #333
I should probably find out what the acceptable level of quality is.  verible's parser has some known limitations and bugs at this time, and is particularly susceptible to false positives rejecting some uses of macros and preprocessor directives in unpreprocessed code.

[2020-06-19 17:42] fangism commented on #334
Duplicate of #257 .

[2020-06-19 17:43] fangism commented on #334
Duplicate of #257

[2020-06-19 17:51] fangism commented on #335
Confirmed.  Just haven't handled this case yet in

https://github.com/google/verible/blob/master/verilog/formatting/tree_unwrapper.cc

[2020-06-19 17:53] fangism commented on #313
Just checking in again.  Have any questions?

[2020-06-19 20:04] #334 closed

[2020-06-19 20:30] wallento commented on #257
Hi,
I have just recently started to look into the same topic for Verilator. Currently json and xml are the front runners, with a slight tendency to json. It would be great if both tools use same type and structure.
My target is the new Github Action I am building for SV Linters, that I for example integrated here: https://github.com/lowRISC/ibex/pull/960
I started playing around with formats and h

[2020-06-21 02:19] hzeller opened #336 "Comments after enum values are formatted in new line"
(not sure if this is a duplicate of some existing issue)

Consider something like this

[code]

All these lines fit comfortably in the allotted line length, yet the formatter changes this to

[code]

It looks like it is eager to break up around the comma, as the last line is left as-is.

[2020-06-22 07:51] tgorochowik commented on #287
@wtatarski is working on this. For some reason I am unable to assign it to him.

[2020-06-22 11:39] zegervdv opened #338 "Inconsistent formatting on long if conditions"
When the conditions inside for an if become long (but not too long) the formatter seems to make a weird decision (the inner-most begin is indented):
[code]
This dangling `) begin` seems out of place.

Making the inner if condition a bit longer gives a nicer result:
[code]

In black (the python formatter), longer if conditions are formatted as:
[code]

I think this last version makes it clearer to

[2020-06-22 15:51] mithro commented on #287
@wtatarski should have a pending invite now.

[2020-06-22 16:53] fangism commented on #287
Thanks @wtatarski !

[2020-06-23 16:08] #248 closed

[2020-06-23 16:08] #258 closed

[2020-06-23 17:28] fangism opened #340 "deploy to edaplayground.com or our own playground?"
To raise-awareness and lower the barrier to testing Verible, should we push to deploy at edaplayground.com or consider our own playground?  @mithro WDYT?

When we were brainstorming project ideas, here are some of the ideas we had for tools/panels in the interface:

* pure syntax check
* syntax tree dump `verible-verilog-syntax --printtree`, but with navigable/expandable tree view
* style linter
*

[2020-06-23 20:25] hzeller commented on #336
[code]

[2020-06-23 20:29] fangism commented on #336
The `, //...` starting its own token partition node is wrong.

[2020-06-29 11:24] Ciprian167 commented on #313
Sorry I didn't had much time this past month. I'm giving it try today.

[2020-06-29 15:16] wtatarski commented on #252
Hi @fangism
I'm working on this issue and so far I managed to get the following result:
[code]
by setting `kUntagged` with `PartitionPolicyEnum::kFitOnLineElseExpand`
[code]
Is this correct direction for fixing this issue?

[2020-06-29 15:21] fangism commented on #252
I would not use `kUntagged`.  Something is seriously wrong in the syntax tree construction if you find a `kUntagged` node.

Instead, I would follow how function/task formal arguments work.  I think you should be able to add/move a few case statements in their vicinity to make them work the same way.

[2020-06-30 17:50] fangism commented on #196
#339 fixes this as well.  (No action needed.)

[2020-07-02 10:16] imphil commented on #168
Yes, those releases are working (and have been for quite a while). Thanks!

[2020-07-02 10:16] #168 closed

[2020-07-02 16:24] wtatarski commented on #252
It looks like tree is parsed in a wrong way. I think that kUntagged should be parsed into kMacroArgList.

[code]
parsed into
[code]
So I suspect bug in verilog parser.

[2020-07-02 18:07] imphil commented on #105
This was fixed in #245 and this issue can be closed.

[2020-07-02 18:28] #105 closed

[2020-07-02 18:37] imphil opened #341 "Support for comments in waiver files"
Waiver files for Verible lint (passed with `--waiver_files`) do not (seem to) support comments. Can that support be added, in line with the comment support in rules files, which was added in https://github.com/google/verible/issues/274?

Comments in waiver are essential to give a bit of motivation why a waiver is necessary (and to add a license header).

[2020-07-02 18:49] fangism commented on #252
The parsing isn't the problem, but the CST construction is.

You just need to edit here:

https://github.com/google/verible/blob/4d6929e0e059c7735b5023095a94120a3d833dd6/verilog/parser/verilog.y#L912

and replace `MakeNode($1)` with a `MakeTaggedNode(N::kMacroFormalParameterList, $1)` to establish a new type-tagged singleton list, and probably add a new NodeEnum in here:

https://github.com/google

[2020-07-02 18:54] fangism commented on #341
What style of comments would you like?  `#`?  `//`?

Would need to start by adding a comment token pattern here:

https://github.com/google/verible/blob/master/common/analysis/command_file.lex

and make sure it gets filtered out before reaching the parser.

[2020-07-02 20:43] imphil commented on #341
I don't mind; `#` would be consistent with the rule config files (see  #274 / https://github.com/google/verible/commit/7d55b5b320b8d60d0a1a8924ea9f8fa02a50551d), so I'd opt for that.

[2020-07-02 21:18] ayaankhan98 commented on #329
@fangism i would like to give it a try, if you can provide some help

[2020-07-02 21:30] imphil opened #343 "Support lint waivers without regex and line"
I have the following Verible lint error that I want to waive:

[code]

This waiver doesn't need a regex or line since it applies to the whole file. However, a waiver like this fails:

[code]

[code]

Would it be possible to make both `--line` and `--regex` optional?

---

As a workaround, I'm currently using

[code]

The equivalent Verilator waiver looks like this: https://github.com/lowRISC/ibex/

[2020-07-02 21:57] imphil opened #344 "Verible lint: Allow `5'b?` in rule undersized-binary-literal"
The undersized-binary-literal lint rule allows undersized zero constants (e.g. `5'b0`), but doesn't allow undersized "don't care" constants (e.g. `5'b?`).

[code]

The workaround in code is rather easy (do `5'h?`), but it seems inconsistent to not allow `?` to be undersized, but `0`.

[2020-07-02 22:36] fangism commented on #343
@tgorochowik Would this be easy (and make sense) to support?

[2020-07-02 22:40] fangism commented on #344
Is there any semantic difference between: `5'b?` and `5'b?????` ?  [language lawyer]

What should happen if the literal is a mix of `01?` ?

[2020-07-02 23:01] imphil commented on #344
They are identical from my reading of the spec.

SV2017 says (pages 73 and 74):

"If the size of the unsigned number is smaller than the size specified for the literal constant, the unsigned number shall be padded to the left with zeros. If the leftmost bit in the unsigned number is an x or a z, then an x or a z shall be used to pad to the left, respectively. (...) When used in a number, the quest

[2020-07-02 23:28] fangism commented on #329
Always happy to answer questions.

Some tips to get started:

To examine a token stream: `verible-verilog-syntax --printtokens FILE`

Here is one example of a lint rule that only examines lexical tokens:

https://github.com/google/verible/blob/master/verilog/analysis/checkers/macro_name_style_rule.h

[2020-07-03 07:18] tgorochowik commented on #343
Yes, it would absolutely make sense to add this.

Initially we did not support `--location` in the waiver files so we could do this by disabling a rule globally with regular linter config.
With the `--location` flag we can disable the rule for a specific file only so it makes sense to add this.

I also think it should be very easy to add.
The first step would be to allow `can_use_regex`  and `can_

[2020-07-03 17:53] mithro opened #345 "Travis build fails on Ubuntu 20.04 LTS (Focal Fossa) due to missing python-gflags package"
From https://github.com/google/verible/pull/342#issuecomment-653420870_

[2020-07-03 17:53] mithro commented on #345
We can probably solve this by instead installing python-gflags using pip.

[2020-07-03 19:26] imphil opened #346 "Verible format: Some token partitions failed to complete within the search limit"
STR:
- Get `prim_lfsr.sv` from the lowrisc/ibex repository: https://github.com/lowRISC/ibex/blob/master/vendor/lowrisc_ip/prim/rtl/prim_lfsr.sv.
- Run verible format on it:
[code]

That's the output I get (removed the source which is output as well):

[code]

I get a similar error with https://github.com/lowRISC/ibex/blob/master/vendor/lowrisc_ip/prim/rtl/prim_cipher_pkg.sv

[code]

[2020-07-03 19:29] imphil commented on #346
Another file with the same symptom: https://github.com/lowRISC/ibex/blob/master/rtl/ibex_cs_registers.sv

[2020-07-03 19:33] imphil opened #347 "Verible formatter: Formatted output is lexically different from the input (Mismatched token enums.)"
STR:
- Get https://github.com/lowRISC/ibex/blob/master/rtl/ibex_alu.sv
- Run
[code]

Output (stripped down to error message)

[code]

[code]

[2020-07-03 19:49] imphil opened #348 "Formatter: Indent parameter and port list with two spaces"
The style guide used in OpenTitan and Ibex requires two space indent for parameter and port lists; the formatter seems to prefer four spaces.

Docs:
* https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md#basic-template
* https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md#module-declaration

Actual

[code]

Expected

[code]

[2020-07-03 19:55] imphil opened #349 "Formatter: Continue comments in port list"
If there's a comment in the port list, there should be a way to line-break it.

https://github.com/lowRISC/ibex/blob/master/rtl/ibex_controller.sv

Expected
[code]

Actual
[code]

(This is rather low-prio, there are easy ways to work around in code.)

[2020-07-03 19:59] imphil opened #350 "Formatter: Align comments in port list"
The formatter lines up data types and port names, but doesn't line up comments. This would give slightly easier-to-read code.

https://github.com/lowRISC/ibex/blob/master/rtl/ibex_controller.sv

Expected:

[code]

Actual:

[code]

[2020-07-03 20:07] imphil opened #351 "Formatter: Avoid a closing parentheses on its own line"
When formatting code in https://github.com/lowRISC/ibex/blob/0335b69e26b280a10be990fb58ae043ff469f1a7/vendor/lowrisc_ip/prim/rtl/prim_present.sv#L128-L129 we get the following diff:

[code]

The first line break is OK, but the second one with the parentheses on its own line is odd.

Looks like the formatter navigated itself into a bad state with the line length being reached after the `64)`.

[2020-07-03 20:22] imphil opened #352 "Formatter: Indent body of initializer lists"
STR: Run `vendor/lowrisc_ip/prim/rtl/prim_keccak.sv` (https://github.com/lowRISC/ibex/blob/master/vendor/lowrisc_ip/prim/rtl/prim_keccak.sv) through verible formatter.

Expected output, according to the lowRISC/ibex/opentitan style guide:
[code]

Actual output:
[code]

Actually, the https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md#line-wrapping isn't very definite on this

[2020-07-03 20:29] imphil opened #353 "Formatter: Comment within an assign statement breaks indentation"
A comment within an assign statement isn't indented with four spaces, and subsequent lines aren't indented either.

STR:
- Get https://github.com/lowRISC/ibex/blob/0335b69e26b280a10be990fb58ae043ff469f1a7/rtl/ibex_controller.sv
- Run it through verible formatter.

Expected

[code]
Actual:
[code]

[2020-07-03 22:10] fangism commented on #345
According to the front-page:
https://github.com/google/python-gflags

this should now be part of absl: https://github.com/abseil/abseil-py

[2020-07-03 22:15] fangism commented on #348
Duplicate of #40

[2020-07-03 22:18] fangism commented on #349
Known.  Multi-EOL-comment alignment not implemented yet.

Even when clang-format does this for C++, sometimes the result is ugly.

[2020-07-03 22:20] fangism commented on #350
b/158030789

[2020-07-03 22:21] fangism commented on #350
This is easy to do with the current column detection interface, however, aggressively aligning another column today increases the risk of column limit overflow. Today, the back-off handling (in the event of overflow) automatically disables alignment in such cases. We should consider a progressive back-off of alignment in parallel with this feature, to reduce the risk of missing out on alignment op

[2020-07-03 22:26] fangism commented on #352
There are two related issues afoot here, one is the partitioning of the RHS expression, and the other is the indentation thereof.

[2020-07-03 23:18] imphil commented on #348
I thought there must have been an issue for it, but didn't find it. Sorry, let's continue the discussion in #40.

[2020-07-03 23:18] #348 closed

[2020-07-07 02:23] #196 closed

[2020-07-07 02:23] #287 closed

[2020-07-08 07:47] GregAC opened #357 "Formatter: Alignment of assignment expressions"
The formatter doesn't align assignment expressions, here's a simple example from https://github.com/lowRISC/ibex/blob/master/rtl/ibex_wb_stage.sv:

Before formatting:
[code]

After formatting:
[code]

I feel the aligned version is preferable, though there may be some differences of opinion, perhaps such alignment could be a configurable option?

[2020-07-08 08:06] GregAC commented on #357
A related issue is the alignment of the LHS of assignment expressions, as an example from https://github.com/lowRISC/ibex/blob/master/rtl/ibex_controller.sv

Before formatting:

[code]

After formatting:

[code]

Here I'd like to keep the alignment of both the `=` and `&`. This case is trickier than the first case as you may not always want to do it. In this instance I chose to align the `&` up to

[2020-07-08 09:19] GregAC opened #358 "Formatter: Align net/variable declarations"
Could the formatter align variable declarations such that the type and dimensions are aligned?

As an example from https://github.com/lowRISC/ibex/blob/master/rtl/ibex_core.sv

Before formatting:
[code]

After formatting:
[code]

It would be preferable to keep the alignment though the excess whitespace before the comments could go, i.e.

[code]

Would be the preferred output

[2020-07-08 10:29] GregAC opened #359 "Formatter: Ensure condition is on the same line as ? in ternaries"
Where the formatting is adding new lines to a ternary expression it should ensure the `?` part of the expression is kept on the same line as the condition. As an example from: https://github.com/lowRISC/ibex/blob/master/rtl/ibex_icache.sv

Before formatting:
[code]

After formatting:
[code]

[2020-07-08 10:33] GregAC opened #360 "Formatter: Align nested ternaries"
A common construct in verilog is using a nested ternary to express a priority selection structure, the output produced by the formatter for these isn't hugely readable, as an example from: https://github.com/lowRISC/ibex/blob/master/rtl/ibex_icache.sv

Before formatting:
[code]

After formatting:
[code]

In the before version it's very clear what output is associated with what condition, the forma

[2020-07-08 10:44] GregAC opened #361 "Formatter: Avoid whitespace in bit selection"
The formatter introduces whitespace around operators inside bit-selections. I'd argue these are better off as compact expressions, I note whitespace isn't added in declarations.

For example in https://github.com/lowRISC/ibex/blob/master/rtl/ibex_icache.sv

Before formatting:
[code]

After formatting:
[code]

The extra whitespace between the dimension and the names is removed but the expression in

[2020-07-08 15:28] fangism commented on #359
Agreed.  This is a matter of penalty tuning.

[2020-07-09 04:06] fangism commented on #360
This makes for an interesting case of shape-detection: looking for a syntax tree shape that is actually linearly nested but formatted in a flat strategy.  It turns out this is what happens already with cascaded if-else-if constructs in

https://github.com/google/verible/blob/19dade32b36684002ea4f88a9b8786d5d3402b92/verilog/formatting/tree_unwrapper.cc#L588

and

https://github.com/google/verible/b

[2020-07-09 04:24] fangism commented on #361
Confirming the behavior you observe.

Reference:
https://github.com/google/verible/blob/19dade32b36684002ea4f88a9b8786d5d3402b92/verilog/formatting/token_annotator.cc#L389

https://github.com/google/verible/blob/19dade32b36684002ea4f88a9b8786d5d3402b92/verilog/formatting/token_annotator.cc#L294

What is happening here is that we've decided for the time being to limit spacing around `:` to 1 space

[2020-07-09 18:05] fangism commented on #345
Fixed by https://github.com/google/verible/commit/a1f54754ba26815bbfddf0280e9cb165f2b9d579 ?

[2020-07-10 17:21] #252 closed

[2020-07-10 17:45] fangism commented on #329
Just checking in.  Any questions I can answer to help?

[2020-07-14 18:43] Ciprian167 commented on #313
@fangism I've got a couple of questions:
1. Right now I implemented the named port scanner inside /verible/verilog/formatting/align.cc. Should I move it out in a separate file?

2. I'm trying to workout the following corner cases when interlacing wildcard connections, implicit connections and named connections.
First, the following:
[code]
Gets formatted:
[code]
I guess `.a(a)` should not be align

[2020-07-14 21:54] fangism commented on #313
1. It's ok to keep Verilog-specific alignment code in verilog/formatting/align.cc, it was expected to grow.

2. (various)

For now, you may treat the `.aa` implicit named connection like a common 'row': it does not participate in alignment, but rows above and below it still align with each other.  Currently, a blank line is what divides alignment groups in module port declarations, and that's a re

[2020-07-14 22:32] fangism opened #363 "'.*' not given its own partition in port actual list"
Spawned from #313

This test case:

[code]

is not properly partitioned:

[code]

There should be `.*,` in its own partition.

Fix needs to add a case in verilog/formatting/tree_unwrapper.cc.

[2020-07-14 22:32] fangism commented on #313
Separated the `.*` partitioning issue as #363

[2020-07-14 23:15] fangism opened #364 "want to keep space between array type and '{' in typedef"
Example formatter output:

[code]

but want space between `]` and `{` on the first line.

[2020-07-14 23:15] fangism commented on #364
b/161155129

[2020-07-15 12:24] WeeBull opened #365 "Use case: Removing / expanding preprocessor statements and/or parameters"
I'm sorry if this is the wrong forum, but I'm trying to understand what verible is capable of.

I have a need to process SV files and remove code which is unused in a certain configuration - configurable IP being delivered to a customer with a specific configuration applied, and then dead code stripped.

I note that the input to verible is "_un-preprocessed source files_". Would verible be able pa

[2020-07-15 13:59] mithro commented on #365
You might want to check if https://github.com/alainmarcel/Surelog is a better fit for your project.

[2020-07-15 17:40] Ciprian167 commented on #313
There is a similar problem when using  comments:
[code]
Outputs:
[code]
Which can be problematic.

[2020-07-15 18:09] fangism commented on #313
That needs to be fixed by adding a case here:

https://github.com/google/verible/blob/1886f72085356d3169d35a8b496f97fe1c662959/verilog/formatting/tree_unwrapper.cc#L513

Let me try to fix this quickly today.

(Incidentally, the formatter runs a lexical equivalence check at the end and would bail out to prevent this sort of data corruption.)

[2020-07-15 18:17] fangism commented on #365
It sounds like you want the equivalent of `cpp` preprocessing via a standalone SV preprocessor, mainly to strip away conditional text.  (A common convention among tools is to use `-E` to save the preprocessed output, before piping that result to the underlying compiler.)

I would first look into Verilator's preprocessor for the job, I think they may have a high-quality preprocessor.

I had plans f

[2020-07-15 18:27] fangism commented on #365
I've been known to hijack `cpp` for Verilog purposes: the trick is to turn Verilog preprocessing directives into ones that `cpp` understands, and be able to reverse the transformation back into Verilog.  So verilog->C->cpp->C->verilog.

I use this script to strip comments from Verilog files:

[code]

(This script is not perfect, but gets pretty far.)

If you manipulate `` `ifdef `` to look like `#

[2020-07-15 18:36] Ciprian167 commented on #313
I suppose we need a case for `NodeEnum::kPortActualList`. I can add it and commit the changes for this issue as well.

[2020-07-15 18:39] fangism commented on #313
Exactly.  I'll split this off as a separate issue, and assign it to you.  (I like keeping issues separate because it make it easier for developers to understand small directed fixes.)

[2020-07-15 18:52] thingkingland opened #366 "macro expansion"
For a legal Verilog file:

    `define A t;
    module test`A
    wire a;
    wire b;
    assign a = b;
    endmodule

Verible parser rejects it with

test1.v: test1.v:2:12: syntax error, rejected "`A" (https://github.com/google/verible).
test1.v:5:1: syntax error, rejected "assign" (https://github.com/google/verible).
test1.v:6:1: syntax error, rejected "endmodule" (https://github.com/google/veri

[2020-07-15 18:54] fangism commented on #313
Hmm, I tried to run `verible-verilog-format --format_module_instantiations` on your example with comments, and am unable to reproduce the problematic output.  There may be some interaction with your ongoing work.  I can't file a separate issue without a standalone test case, but I'll let you continue to work on it.

[2020-07-15 19:08] fangism commented on #366
Verible doesn't include a proper preprocessor at this time, and is thus limited in where it can allow macros (grammatically).  Depending on your intent, you could preprocess first before feeding to Verible's parser/tools.

[2020-07-15 19:10] Ciprian167 commented on #313
You're right. I can see this only after changing this policy to `kTabularAlignment`
https://github.com/google/verible/blob/1886f72085356d3169d35a8b496f97fe1c662959/verilog/formatting/tree_unwrapper.cc#L919

[2020-07-16 14:23] zegervdv opened #368 "module instantiations formatting is disabled by default"
When instantiating a module with many ports it is often split over multiple lines.
The first line of the instance is indented correctly but the continuation is indented one less:
[code]

Expected:
[code]

It seems like it is not touching the continued lines at all.
For example for this input:
[code]
The result  is:
[code]

[2020-07-16 14:45] zegervdv opened #369 "Interfaces in port mapping misaligned"
Adding an interface in the port mapping of a module messes up the formatting:

[code]

Also note the space that is added between the `) (`

[2020-07-16 15:48] fangism commented on #369
b/160634864

[2020-07-16 15:50] fangism commented on #369
It turns out I actually just fixed this a few days ago, and there is a commit in the queue waiting to be pushed.  @hzeller can you push?

[2020-07-16 15:56] fangism commented on #369
As for `) (`, the formatter is following guidance that may be slightly different from lowRISC's.  Please file that issue separately.  I may not have the bandwidth to introduce configurability, but I could point you to the code that affects this:

https://github.com/google/verible/blob/1886f72085356d3169d35a8b496f97fe1c662959/verilog/formatting/token_annotator.cc#L482

[2020-07-16 20:46] zegervdv commented on #369
I was under the impression the `) (` only happened when I had an interface in the port map, but that is not the case.
I don't really mind about the space as long as it's consistent :)

[2020-07-16 21:12] fangism commented on #369
The fewer {rules/priorities/context-sensitivities/special cases} have to be coded up in the function I linked, the more consistent things will be.  :)

[2020-07-16 22:25] fangism commented on #368
Ah, I realized that for the time being we've disabled formatting around module instantiations in the short term because users were complaining about lack of alignment or ruining pre-existing alignment.  This is controlled via

`verible-verilog-format --format_module_instantiations`

(The default is false [off], which preserves existing spacing in instantiations.)
If I re-run your examples with tha

[2020-07-17 06:32] zegervdv commented on #368
I missed that setting. It seems to work fine for me now.

[2020-07-17 06:38] fangism commented on #368
Thanks for confirming.

[2020-07-17 06:38] #368 closed

[2020-07-17 13:34] WeeBull commented on #365
Thanks for the feedback.

I wasn't wanting to go for `-E` type preprocessing because that expands everything, making code largely unreadable. I'm looking for something where I could expand things related to 1 or 2 defines and leave everything else intact.

I'll give Surelog a look.

[2020-07-17 18:34] fangism commented on #365
Partial expansion and evaluation is exactly what our pseudo preprocessor was intended to do.

I'm going to keep this one open, even if you find an alternate solution.  This would make for a clean standalone project that already has a head start.

The abstraction of the problem here is a transformation of one lexical token stream into another.
The scanner (current pseudo preprocessor) could be a st

[2020-07-18 09:02] Ciprian167 commented on #249
I couldn't recreate any of the scenarios.

For the first example formatter outputs:
[code]
`DBEWJ8y8HfFuJW2E` is aligned with `So7c6mZurEIyyzh22cTkINfBB5qPO2Dl`. But something feels wrong about the way `({1'b0, ZAstNEKhAcsWSc0D3} + ((iQJAKroCn0kbWqa && AArit5fvJyzgFXy) ? gPfWeyYJ7 : '0)),` got wrapped.

While for the second example:
[code]
Which I think is OK.

[2020-07-20 16:14] WeeBull commented on #365
That's fine. I must admit I've gone to look at your log and and the fact is a preprocessor that will expand everything means it's not suitable for my use case. I think the fact that variable will create a syntax tree that contains the preprocessor commands means it's a lot closer to what I need.

[2020-07-20 18:18] #364 closed

[2020-07-20 18:18] #32 closed

[2020-07-20 18:18] #219 closed

[2020-07-20 23:14] fangism commented on #365
Just clarifying:
The work-in-progress pseudo-preprocessor doesn't touch any syntax tree, it is tokens-in, tokens-out (which may then feed a parser).  This approach is guaranteed to work for any lexically correct input file (need not be syntactically clean).

The syntax tree produced by the parser does support "sane" placement of preprocessing directives -- e.g. conditionals around sequences of who

[2020-07-20 23:25] fangism commented on #249
Confirming your recent observations.
Agree that the placement of the lone `),` is odd, but is a separate issue from the original focus.
(This is a matter of penalty tuning.)

I'll close this one as fixed.

[2020-07-20 23:25] #249 closed

[2020-07-20 23:35] fangism commented on #369
Fixed by https://github.com/google/verible/commit/ebdb13d763664eea1a462d6f635d8872a7051190

[2020-07-20 23:35] #369 closed

[2020-07-21 17:13] fangism commented on #357
Implementation tip:
For a first cut, I would advise focusing on just aligning the left-hand-side and the equality operator.
It will take a little logic to detect the ranges of consecutive assignment statements.
Aligning on expression operators like `&` is possible, requires more intelligent shape-detection logic, but can be follow-up.

[2020-07-21 17:16] fangism commented on #358
Some of the logic in the alignment handler for module port declarations can be used for this task.
A little logic required to identify the ranges of consecutive variable declarations.
Initially, comments could remain unaligned, I'll leave that up to the implementer.
Initial focus is on establishing columns for the dimensions.

[2020-07-21 18:27] fangism commented on #358
b/161814194

[2020-07-21 18:30] fangism commented on #357
b/161814377

[2020-07-22 06:48] fangism opened #370 "check declared identifiers against set of unwanted patterns"
Task: implement a style lint rule that can flag a _declared_ identifier if it matches a set of configurable patterns

The key here is that the syntax tree tells you exactly which identifiers are declared vs. referential.

Examples:

* `module m;` : `m` is declared
* `mymodule myinst(...);` : `myinst` is declared, `mymodule` is referential
* `function f;` : `f` is declared
* `f(...)` : `f` is refer

[2020-07-22 06:49] fangism commented on #370
b/161864321

[2020-07-22 17:21] fangism opened #371 "index and serve navigable UI into Verible codebase"
Serving a searchable/indexed view of the Verible codebase would greatly aid developers.

Options:

* Kythe, and run our own
* http://source.cloud.google.com
* Some github extension?

Ideally the index would be updated on every commit (even if releases ever decrease in frequency).

@mithro @hzeller I think we have someone working on the Kythe option.

[2020-07-22 18:32] mithro commented on #371
@fangism - We should get it into codesearch (both external and internal). There is an internal to Google document on how we do that.

[2020-07-22 20:35] #313 closed

[2020-07-23 22:34] stephenry opened #372 "Use variable before declaration"
In the example below, `foo` is assigned before it is declared and is therefore infered as the 'default net type' according to 6.10, even if the eventual type is not the default net type. SV2V picks this up and causes the generated result to be incorrect; generates a wire. Yosys subsequently raises a warning as the wire is assigned from the sequential block. Verible (linter) should flag instances s

[2020-07-23 23:41] fangism commented on #372
Someone was working on this in #217
Duplicate of #217

[2020-07-23 23:42] fangism commented on #372
Welcome to join the conversation there and comment on the #244

[2020-07-23 23:42] #372 closed

[2020-07-24 23:15] mithro opened #373 "Expose an UHDM compatible API?"
As part of the [Surelog project](https://github.com/alainmarcel/Surelog) (a /potentially/ competing ANTLR4 based SystemVerilog parser) we have been trying to create a system which allows different parsers be interfaced to multiple different tools (like Yosys, Verilator, Icarus, etc).

The attempt at doing this project is [called Universal Hardware Data Model (UHDM)](https://github.com/alainmarcel/

[2020-07-24 23:16] mithro commented on #373
This is a big task that I don't think we have the resources to tackle at the moment, but I wanted to log the issue incase someone did want to start exploring what this might look like.

[2020-07-24 23:57] fangism commented on #373
Noted.

There is quite a large gap between what Verible offers today and what is needed to intercept UHDM.
Isn't UHDM a elaborated representation?

Before we can even talk about elaboration, there is semantic analysis.

Before semantic analysis, we at least need a AST (see #184 ).  We only have a CST today, and a rather fragile one.

Before we can deliver an AST, we need a preprocessor (preferably

[2020-07-26 10:38] Ciprian167 commented on #318
I have a partial implementation for this. I'm trying to figure out a few cases mostly when using type declaration with packed dimensions.

1. Should the formatter align packed dimensions like so?
[code]

Implementing the packed dimensions alignment will make it difficult to align things like:
[code]
Which current implementation will format to :
[code]
This happens because of the way columns are cr

[2020-07-26 18:57] fangism commented on #318
This is acceptable.

This actually looks ok, it follows from the grammatic structure.
`C#(logic[128:0])` is treated as a base type without dimensions.

Again, if you want to leave everything to the right of `=` as one column, that is fine too.

Hmm, this seems like a separate bug in the equivalence verification logic.  I need to make it more forgiving.  If it is reproducible without your local cha

[2020-07-27 00:26] thingkingland commented on #366
Hi David,

Thanks for the reply. I make an attempt to enhance Verible code to support `define, `undef, `undefineall without a separate preprocessor step. The solution can be extended to support `include and `ifdef. The solution will remove these directives from tokens. This should be good for normal EDA applications such as simulation and synthesis. For formatter, those directives may need to be p

[2020-07-27 18:54] fangism commented on #366
I'm excited you started this effort.  Did you happen to take a look at
https://github.com/google/verible/blob/master/verilog/preprocessor/verilog_preprocess.h ?
That already contained some code for tracking `` `define``s, but doesn't attempt to apply/expand them yet.

What I've been thinking is assembling a suite of pseudo-preprocessor like functions.  This first one could be called something like

[2020-07-27 19:56] thingkingland commented on #366
Hi David,

If it is ok for you to have private conversation on this topic, please send an email to rd@thingkingland.app <mailto:rd@thingkingland.app>
I can email you my sample code and discuss more. If you want to continue on GitHub public discussion, that is fine with me too.

I read the existing code which attempts to expand a macro token after the lexer. My solution is to do it inside lexer wit

[2020-07-27 21:16] fangism commented on #366
Sent you a message, but I can answer a few topics here that others may be interested in.

1. For a "normal" production compiler-like toolchain, doing this work in the lexer might be appropriate, but we must consider that the lexer needs to be suited for applications that operate on un-preprocessed text, like the formatter, and even style-linter (which may want to analyze matters pertaining to prep

[2020-07-27 22:02] fangism commented on #365
Related discussion about partial evaluation going on in #366

[2020-07-27 22:12] fangism opened #374 "strip comments tool, based on lexer"
Task:
Create a library function (text-in, text-out) and standalone tool to strip `//comments` and `/*comments*/` from source code, starting with the lexer's output, a token stream.

Suggest creating a new binary tool: `verible-verilog-preprocess` whose first positional argument includes the subcommand `strip-comments` for this task.  Classifying this under 'preprocessor' because in other languages

[2020-07-27 22:13] fangism commented on #374
b/152652897

[2020-07-27 22:14] fangism commented on #374
This would also work hand-in-hand with the code obfuscator
https://github.com/google/verible#code-obfuscator

Recommend workflow would be to strip comments (which are not obfuscated) before feeding the obfuscator tool.

[2020-07-28 08:57] muhdmud commented on #370
good day all, can i work on this?

[2020-07-28 15:57] fangism commented on #371
@MinaToma thanks for working on this

[2020-07-29 01:23] muhdmud commented on #370
thanks for the opportunity. this is my first time and i just applied for the CLA.

while waiting if you could point me in the right direction, looks like i have to look at verilog/analysis/checkers folder to see how rules are being implemented?

correct me if im wrong

[2020-07-29 01:43] fangism commented on #370
Yes, verilog/analysis/checkers/*name_style_rule.* is a good place to start because those are rules about identifiers.

While many of those rules are implemented using Matchers, you don't necessarily have to use them, in fact, I would advise against them.

I think you'll end up needing to write CST accessor functions like:
https://github.com/google/verible/blob/74b906bcefefbda3dea36abba4a6a2ce5707d

[2020-07-29 03:33] fangism commented on #370
Another suggestion is to come up with test cases first.

For example:
https://github.com/google/verible/blob/master/verilog/analysis/checkers/constraint_name_style_rule_test.cc

In particular, `LintTestCase` let you mark interesting pieces of text where you expect to find violations (non-overlapping ranges).

[2020-07-29 08:21] muhdmud commented on #370
ok give me a couple days to have a look and will ask here if any doubts. Thanks so much for the pointers!

[2020-07-29 16:57] fangism commented on #370
Also, don't be afraid to send PRs for work-in-progress.  If you write some new CST helper functions with tests (and you may have to search around in CST/ to discover which already exist), those can be reused by others without waiting for the whole task to be completed.

[2020-07-29 21:54] #343 closed

[2020-07-30 02:25] muhdmud commented on #370
Alright noted! i am looking at the systemverilog syntax for better understanding.
for the cst accessor functions, an example i can see that for identifier_test.cc tests, in this case those without scope operator are being flagged as unqualified.

in my case, i need to create cst accessor something like
const (return some construct here?) & GetDeclarativeConstruct(const verible::Symbol&)
this will

[2020-07-30 02:58] fangism commented on #370
Yes, some declarations can bear both unqualified and qualified identifiers.  For example, out-of-line method definitions like:

[code]

So the returned subtree could be either type, not necessarily a leaf node.  Since out-of-line definitions can only follow corresponding in-line declarations, it's not as important to verify the last component of the qualified name (`B` in `A::B`) case.  You would

[2020-07-30 04:00] muhdmud commented on #370
Yes that would be great, i will work on this warmup exercise.

looks like for package_test.cc, one string literal is being passed into the analyzer, one for each test, while for declaration_test.cc, a whole bunch of kTestCases are being passed into the test.
Also instead of having exact matches like in package.cc, the declaration.cc have helper functions to get subtree(so there is more information

[2020-07-30 04:40] fangism commented on #370
Correct, package_test.cc (and many others like it) have separate hand-coded checks for each `TEST()` test case (string literal input), which is cumbersome to maintain, compared to using the `SyntaxTreeSearchTestCase` construct, which supports checking against any N expected regions of interest, handy for test cases with multiple declarations.

package.cc already has a `FindAllPackageDeclarations`

[2020-07-30 13:25] iDoka opened #377 "In module name instantiation rejected "`else" #formatter #reject-valid-syntax"
Synthetic example:

`test.v`:
[code]
run:
[code]

But it's widely used approach in verilog when we use preprocessor to substitute instantiated module name depending on defines on level of build  system.

For additional evidence here example from real world:
https://github.com/ekuznetsov139/fpga/blob/master/pmk.v

[code]
As can see on URL above similar approach with preprocessor might be used for m

[2020-07-30 16:07] fangism commented on #377
I'm aware of this common pattern.
This is a known limitation in the parser, which does not have a proper preprocessing phase.
Generally, preprocessing conditionals are only supported when they enclose "whole" syntactic constructs.
The conditional around the module instantiation types does not meet that criterion.  One possible workaround is to conditionally define the type in a local macro before

[2020-07-30 19:13] fangism commented on #374
b/69339382

[2020-07-31 00:37] muhdmud commented on #370
okay noted sir, il write one test in package_test.cc with some test cases and submit a pr. how do i know that its working? or dont worry and just submit this work-in-progress first.

also do I edit the test TEST(FindAllPackageDeclarationsTest, MultiPackages), or i can make another test?

1. Come out with some test cases in an array
2. loop through this array and run FindAllPackageDeclarations on a

[2020-07-31 01:12] fangism commented on #370
`bazel test -c opt //...` will run all tests.  (For fun and education, you could intentionally make any test fail and see how that looks.)

You may change `TEST(FindAllPackageDeclarationsTest, MultiPackages)`.  Doesn't have to be an array the first time, but once you see how similar tests look using the new pattern, you'll find that placing them into an array should be mechanically easy (step 1).

[2020-07-31 02:57] muhdmud commented on #370
okay thanks! il have a look with simpler cases. by the way, is this the preferred mode of communication in open source? still learning on these habits/ways

[2020-07-31 03:35] fangism commented on #370
This works fine, a lot of this public discussion is useful to other new developers as well.

https://groups.google.com/g/verible-dev is also good for general discussion.

[2020-07-31 04:26] muhdmud commented on #370
oh i see, thanks David!

[2020-07-31 04:42] muhdmud commented on #370
faced below errors when building, are these alright for now?

PS C:\openSource\verible> bazel version
Starting local Bazel server and connecting to it...
Build label: 3.4.1
Build target: bazel-out/x64_windows-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Jul 14 06:32:11 2020 (1594708331)
Build timestamp: 1594708331
Build timestamp as int: 15947083

[2020-07-31 05:34] fangism commented on #370
Oh, I'm actually not familiar with Windows builds.
What compiler are you using?
I wonder if it unable to honor `ABSL_ATTRIBUTE_NORETURN`?  But it seems that is only a compiler warning.

The real problem seems to be coming from bazel build rules.
We'll need to web search for known issues.  :-(

[2020-07-31 05:38] fangism commented on #370
Suggest looking around:

https://docs.bazel.build/versions/master/windows.html

and file an issue with details referencing your error above:

https://github.com/bazelbuild/bazel/issues?q=is%3Aopen+is%3Aissue+label%3Ateam-Windows (New Issue)

(follow their issue template)

I hope we can unblock you soon...

[2020-07-31 05:45] muhdmud commented on #370
oh ok thanks David, i will have a look and raise the issue!

[2020-07-31 06:24] fangism commented on #242
Happen to have a lexer fix for this coming soon.

[2020-07-31 15:03] muhdmud commented on #370
#11881 have raised issue with bazel, couldnt find any info in discussion group and in current issues

[2020-07-31 16:42] fangism commented on #370
Re-linking: https://github.com/bazelbuild/bazel/issues/11881

[2020-08-03 23:42] msfschaffner opened #378 "Make macro-name-style lint rule parameterizable"
It would be great if

https://google.github.io/verible/lint.html#macro-name-style

could be configured in a similar way as

https://google.github.io/verible/lint.html#explicit-parameter-storage-type

In our case we would use this parameterizability to allow `lower_case` names for UVM macros.

Related: https://github.com/google/verible/issues/133

CC @sriyer

[2020-08-04 00:00] fangism commented on #378
The rule only covers macro definitions, but not call sites, so unless you're style-linting the UVM source code (or defining your own UVM-like macros), are you seeing false positive findings with this rule?

[2020-08-04 00:13] fangism commented on #378
I do generally agree that most of these *name-style-rules could be made configurable.

[2020-08-04 00:24] sriyerg commented on #378
We are allowing lower-case naming for macros that are very UVM adjacent:
https://github.com/lowRISC/opentitan/blob/a13393a3cdf2adc6151654fda4f08e9c2a07ec89/hw/dv/sv/dv_utils/dv_macros.svh#L6

I believe this is the same in our CDK area as well?

[2020-08-04 00:44] fangism commented on #378
Ok, those kind of look familiar.
Since they are very localized to a central header file, would you be comfortable waiving a few affected ranges in that file?  or are there a lot more of such cases?

[2020-08-04 00:47] fangism commented on #378
I would also approve of ignoring all of `uvm.*` in general, which would leave only a few of your definitions in that file affected.

(I'll run it by some folks to see if everyone generally agrees about that being uncontroversial.)

[2020-08-04 04:33] fangism commented on #378
I have a solution in the pipeline for UVM-macros, which get their own treatment out-of-the-box.

Aside from that, this rule and others like it would probably benefit from sharing the same configuration options: enumerating the few common styles of names (off the top of my head):

* UpperCamelCase
* lower_snake_case
* ALL_CAPS

I'm open to proposals about the configuration details.

[2020-08-04 16:40] mithro opened #379 "Set up sphinx + doxygen documentation generation"
We should publish verible documentation on [ReadTheDocs using Sphinx](https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html).

For HDL related projects like [google/skywater-pdk](https://github.com/google/skywater-pdk), [prjxray](https://github.com/SymbiFlow/prjxray) and [verilog-to-routing](https://github.com/verilog-to-routing/vtr-verilog-to-routing) we have standardized o

[2020-08-04 16:41] mithro commented on #379
Related issues;
 - https://github.com/alainmarcel/Surelog/issues/305
 - https://github.com/alainmarcel/UHDM/issues/40

Demo documents;
 * The capnproto docs are done with sphinx -> http://capnproto.github.io/
 * The fomu workshop is done with sphinx -> http://fomu-workshop.fomu.im/
 * The SymbiFlow docs are done with sphinx -> https://symbiflow.readthedocs.io/en/latest/

[2020-08-04 17:26] sriyerg commented on #378
Right, for enumeration as well, we allow both, ALL_CAPS and CamelCase. Please see:
https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md
https://github.com/lowRISC/style-guides/blob/master/DVCodingStyle.md

[2020-08-04 18:02] fangism commented on #378
Interesting, that means we'll need to be able to express OR, not just mutually exclusively one style.

Other variants from other styles:

* kUpperCamelCase

[2020-08-04 18:07] fangism commented on #378
Allowing for more than one probably means a user will want to make sure there is consistency within each file.
The way I've seen this done is that the first accepted style encountered becomes the style followed later in the file.

The style linter has no cross-file visibility, as with other similar style-checking tools.

[2020-08-04 20:48] fangism commented on #291
This script has a more modernized example of how to extract changed lines per file for a few different revision control systems.

https://github.com/google/verible/blob/master/verilog/tools/formatter/verible-verilog-format-changed-lines-interactive.sh

[2020-08-04 20:49] fangism commented on #292
This script has an example of choosing a relative base:

https://github.com/google/verible/blob/master/verilog/tools/formatter/verible-verilog-format-changed-lines-interactive.sh

[2020-08-04 20:55] fangism commented on #378
Looks like this can be modeled after
https://github.com/google/verible/blob/master/verilog/analysis/checkers/parameter_name_style_rule.cc

@hzeller would you like to take this?  You may have had some refactoring in mind before copying that code over.

[2020-08-04 21:13] fangism commented on #378
b/162873562

[2020-08-04 22:43] sriyerg commented on #378
Both styles can co-exist in the same file (consistency check within the same file is not needed):
https://github.com/lowRISC/opentitan/blob/master/hw/vendor/lowrisc_ibex/rtl/ibex_pkg.sv

[2020-08-04 22:44] sriyerg commented on #378
We have not mandated kCamelCase - this is ci2 specific.

[2020-08-04 22:48] fangism commented on #378
Ok, no consistency checking then.

[2020-08-04 22:49] fangism commented on #378
Right, this is coming from internal style guidance.

[2020-08-05 08:03] muhdmud commented on #370
have tested again to confirm, and still give me some issues.
I did test with a separate sample project, and build worked fine.
Anyway i can circumvent this? or work on other stuff

[2020-08-05 09:17] fangism commented on #370
Chatting around, some other suggested trying out Linux on Windows

* https://docs.microsoft.com/en-us/windows/wsl/install-win10
* https://ubuntu.com/tutorials/ubuntu-on-windows

Willing to try that?  (Makes a lot of open-source development easier.)

[2020-08-05 10:03] muhdmud commented on #370
Yeah sure! willing to try anything and learn.
Okay i will have a look and setup using the links you provided, thank you!

[2020-08-05 17:34] #242 closed

[2020-08-05 19:41] fangism commented on #300
Looks done.  Re-open if you think there's more work.

[2020-08-05 19:41] #300 closed

[2020-08-05 19:43] fangism commented on #185
@MinaToma work is ongoing at https://github.com/MinaToma/verible

[2020-08-05 20:19] hzeller commented on #336
One-stop self-contained partition tree debug invocation, directly from bazel:

[code]

[2020-08-06 00:42] fangism opened #381 "catch accidental use of "plain string-literals" where `"preprocessing-string-literal`" is intended"
Macro definition often include string/token concatenation like operations.

The string literal

[code]

does not actually interpret the ` `` `, even if some tools do this by accident.
What is most likely meant by the authors is:

[code]

which does evaluate ` `` ` as a concatenation inside a string.

Task: detect these accidental uses and warn the user.

Suggestion:
Follow the example of
https://g

[2020-08-06 00:43] fangism commented on #381
b/160003054

[2020-08-06 01:08] fangism opened #382 "forbid negative constant integer literals in declared array dimensions"
e.g. `logic [-1:0] foo;`

Suggestion:

* Create test cases with arrays in various places: module instances, ports, class members, local variables...
* Examine where they appear in `verible-verilog-syntax --printtree`
* Implement a `SyntaxTreeLintRule` to find offending locations.
* As needed use/write CST helper functions to extract substructure.
* Only focus on expressions that are constant liter

[2020-08-06 01:09] fangism commented on #382
b/160002985

[2020-08-06 02:54] fangism opened #383 "Recommend parentheses around certain expression patterns"
Though parsers and compilers know fully well the precedence of operators, humans can still benefit from extra parenthesis.

example:
https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md#parentheses

Task: detect such situations (starting with the above ternary expression example) and report them

Suggest: subclassing a SyntaxTreeLintRule and for various expression types, looki

[2020-08-06 02:54] fangism commented on #383
b/159846534

[2020-08-06 03:45] fangism opened #384 "forbid line continuations inside string-literals"
The jury has spoken.
We now want to forbid line-continued string literals like this:

[code]

and recommend the equivalent (C-style joined string literals):

[code]

Suggestion: implement as a `TokenStreamLintRule`, scan for all string literals (even inside macro definition bodies), and report offending locations (focusing on the location of "\").

[2020-08-06 03:45] fangism commented on #384
b/154548140

[2020-08-06 03:57] fangism opened #385 "Grant exceptions for units in [struct-union-name-style]"
Currently, the [struct-union-name-style] is strictly requires lower_snake_case_t-style.

https://github.com/google/verible/blob/2b706555398f8c734bb3fc8ea5dff78ab85460c3/verilog/analysis/checkers/struct_union_name_style_rule.cc#L76

Some teams have expressed a desire to grant exceptions when a component (between underscores) is number followed by a unit that contains a capital letter like `12B` (by

[2020-08-06 03:57] fangism commented on #385
b/152321562

[2020-08-06 16:13] fangism commented on #185
@ivan444 FYI

[2020-08-06 19:50] ivan444 opened #387 "Kythe: add a library for translating the syntax tree to Kythe schema"
Implement a library that can work on top CST (or derivative) and translate SystemVerilog language features to http://kythe.io schema.

Either in JSON or protocol buffer format.

Umbrella issue: #185

[2020-08-06 19:52] ivan444 opened #388 "Kythe: map SystemVerilog modules to Kythe schema"
Extend Kythe translation library to support module definitions, and their uses in instantiations.

Depends on: #387
Umbrella issue: #185

[2020-08-06 19:54] ivan444 opened #389 "Kythe: map SystemVerilog signals and variables to Kythe schema"
Extend Kythe translation library to support signals ("nets") and variable use-definition chains.

Depends on: #387
Umbrella issue: #185

[2020-08-06 19:55] ivan444 opened #390 "Kythe: map SystemVerilog functions to Kythe schema"
Extend Kythe translation library to support task/function definitions and calls.

Depends on: #387
Umbrella issue: #185

[2020-08-06 19:56] ivan444 opened #391 "Kythe: map SystemVerilog macros to Kythe schema"
Extend Kythe translation library to support macro definitions and calls/references.

Depends on: #387
Umbrella issue: #185

[2020-08-06 19:57] ivan444 opened #392 "Kythe: map SystemVerilog packages to Kythe schema"
Extend Kythe translation library to support packages.

Depends on: #387
Umbrella issue: #185

[2020-08-06 19:59] ivan444 opened #393 "Kythe: map SystemVerilog classes to Kythe schema"
Extend Kythe translation library to support class definitions/references, and inheritance hierarchies.

Depends on: #387
Umbrella issue: #185

[2020-08-06 19:59] ivan444 opened #394 "Kythe: map SystemVerilog parameters to Kythe schema"
Extend Kythe translation library to support parameters definitions/references (both global and local).

Depends on: #387
Umbrella issue: #185

[2020-08-06 20:07] ivan444 opened #395 "Kythe: add verification tests to Verible's CI"
Prevent breakages of Kythe extraction logic by running the [verification tests](https://kythe.io/docs/kythe-verifier.html) as a part of Verible's continuous integration.

The initial set of Kythe verification tests is being added with PR #386.

Umbrella issue: #185

[2020-08-06 20:09] ivan444 opened #396 "Kythe: document how to index SystemVerilog code with Kythe & Verible"
Write a tutorial (or a script) with end-to-end flow for indexing SystemVerilog code using Verible & Kythe. Serve the references using Kythe's built in http server.

Umbrella issue: #185

[2020-08-06 20:37] fangism commented on #185
b/163065644

[2020-08-07 14:33] muhdmud commented on #370
managed to set it up using that first link, below is the output after successful build.
are these warnings alright for now?

muhd@mud:~/opensource/verible$ ls
AUTHORS  BUILD  CONTRIBUTING.md  Docker  LICENSE  README.md  WORKSPACE  bazel  bazel-bin  bazel-out  bazel-testlogs  bazel-verible  common  verilog
muhd@mud:~/opensource/verible$ bazel build -c opt //...
Starting local Bazel server and conne

[2020-08-07 15:50] fangism commented on #370
We see those warnings too, you are good to go!

[2020-08-07 15:55] fangism commented on #370
@MinaToma and @ivan444 FYI, this work is somewhat related to your project in that it is looking for identifiers tokens in specific locations, in this case declarations.  I think there is an opportunity to share `GetElementNameToken`-like functions added to the `CST/` library.

[2020-08-07 16:02] fangism commented on #307
FYI, In #370 , @muhdmud [1] was able to follow instructions at https://docs.microsoft.com/en-us/windows/wsl/install-win10 before bazel build instructions to successfully build Verible.

[1] https://github.com/google/verible/issues/370#issuecomment-670547189

[2020-08-07 16:59] corco commented on #307
WSL allows to run Linux application on Windows, but it is not the same as a native Windows application. For starters, you need to have WSL installed on your Windows machine and I don't think you can invoke WSL application from Windows command line and vice-versa. I don't use Windows so I may be wrong there.

I managed to build a native Windows verible by using generated files from flex/bison inste

[2020-08-07 19:21] zcold opened #397 "`wire logic foo` is rejected"
[code]

verible-verilog-syntax reports:

`syntax error, rejected "logic" (https://github.com/google/verible).`

However, it is a valid syntax and `wire logic` is equivalent to `wire` according to [this post](https://verificationacademy.com/forums/systemverilog/why-use-wire-logic-data-type-interface-signals)

[2020-08-07 22:45] zcold opened #398 "@ in property is rejected"
[code]
syntax error, rejected "@" (https://github.com/google/verible).
syntax error, rejected "endproperty" (https://github.com/google/verible).

Compilation passed in Cadence Xcelium

[2020-08-07 22:50] fangism commented on #398
b/150978394

(We know about this one.)

[2020-08-08 15:49] zcold opened #399 "Variable cannot be named `infinite`"
[code]
syntax error, rejected "infinite" (https://github.com/google/verible).

Compilation passed in Cadence Xcelium

[2020-08-08 15:52] fangism commented on #399
`infinite` is a Verilog-AMS keyword.  We don't have dialect selection implemented yet, so it is being conservative.

[2020-08-09 05:14] muhdmud commented on #370
Alright cool, thanks! Il reread what we discussed and start on pr for the testcases

[2020-08-09 11:40] muhdmud commented on #370
i tried to include "common/analysis/syntax_tree_search_test_utils.h" in package.h since i wanted to have an array of SyntaxTreeSearchTestCase, but it gives me an error below that the no such file, am i missing something here?

INFO: Analyzed 1238 targets (0 packages loaded, 0 targets configured).
INFO: Found 1238 targets...
ERROR: /home/muhd/opensource/verible/verilog/CST/BUILD:486:11: C++ compila

[2020-08-09 16:04] fangism commented on #370
When you include a header, you also need to add in the BUILD file a `deps = [...]` to the library from which the header came, in this case, `//common/analysis:syntax_tree_search_test_utils`.

[2020-08-09 19:24] fangism commented on #370
And yes feel free to open a PR for early review.

Another note: libraries named `test_util` are typically only used for tests of libraries, not the libraries themselves.

[2020-08-10 06:39] muhdmud commented on #370
okay noted, currently facing some issues when trying to push my branch, due to subsystem permission with ssh,
trying resolve with this https://github.com/microsoft/WSL/issues/3181
and this https://github.com/Microsoft/WSL/issues/81

[2020-08-10 21:01] #341 closed

[2020-08-11 22:55] fangism commented on #360
@msfschaffner FYI, you mentioned this one

[2020-08-11 22:57] fangism commented on #360
Also worth noting is that this is potentially a nested alignment problem.  `assign` statements themselves may desire a particular alignment around `=`.

[2020-08-12 13:24] wtatarski commented on #357
@fangism
Is using `TabularAlignTokenPartitions` function a good way for the first part of the issue? I think about applying it to `NodeEnum::kBlockItemStatementList` processing. Something similar is used for `NodeEnum::kPortDeclarationList`

[2020-08-12 16:47] fangism commented on #357
Yes, `TabularAlignTokenPartitions` on a StatementList is a good starting point.  One difference here is that not all statements are assignments, so you'll need to detect subranges of partitions to apply.

[2020-08-13 00:12] #240 closed

[2020-08-13 00:12] #371 closed

[2020-08-14 05:33] fangism opened #402 "align enum members with assigned values"
Example:

[code]

Align the `=` to the longest identifier on the left.
Only align consecutive groups (in case some do not have assigned values).

See https://github.com/google/verible/blob/master/verilog/formatting/align.cc for other existing alignment handlers.

[2020-08-14 05:33] fangism commented on #402
b/164279672

[2020-08-14 05:56] fangism opened #403 "align distribution weights on `:/`"
Like so:

[code]

Follow examples in https://github.com/google/verible/blob/master/verilog/formatting/align.cc

[2020-08-14 05:56] fangism commented on #403
b/164285474

[2020-08-14 06:51] fangism commented on #336
b/164297034

[2020-08-14 07:07] fangism opened #404 "want space before open-brace of enum"
See first line:

Want:

[code]

Got:

[code]

Fix needs to add a case here:

https://github.com/google/verible/blob/0a331418dd3ba7cd8c98a8436f380638f0aeac91/verilog/formatting/token_annotator.cc#L336

by checking for context being immediately inside an enum.

[2020-08-14 07:08] fangism commented on #404
b/164302106

[2020-08-14 21:54] hzeller commented on #336
Also useful: switching on vlogging for the relevant code; here with a narrowed-down example that shows that only code with comma followed by a comment is resulting in an uninitialized policy, while an enum assignment just followed by comma is properly assigned.

[code]

[code]
Anyway, this is an example that highlights that the comma is only

[2020-08-14 22:27] fangism commented on #336
At this point, the options for fixing are (without digging in):

1) prevent the comma-partition from being created
1) reshape/adjust/merge/fixup after the fact

[2020-08-16 15:16] ldalek-antmicro commented on #277
@fangism I did formatting of this example with latest Verible and it looks like this commit https://github.com/google/verible/commit/2edbccd4f72f536dbf8815541d7d8251183258da is this this issue
Input:
<pre>
  task t;
        if (!$cast(ssssssssssssssss, vvvvvvvvvv, gggggggg)) begin
        end
  endtask : t
</pre>
Output:
<pre>
task t;
  if (!$cast(ssssssssssssssss, vvvvvvvvvv, gggggggg)) begin
  e

[2020-08-16 15:50] fangism commented on #277
Confirmed.  Can you verify if this test case is already covered in tree_unwrapper_test and formatter_test?
If not, could you add this?

[2020-08-18 15:34] #336 closed

[2020-08-18 16:34] fangism commented on #318
Just checking in, have you been able to make any progress?  (avoiding the macro value example for a workaround)

[2020-08-18 19:32] #358 closed

[2020-08-18 21:02] fangism commented on #230
@markusdd Head's up.  With a19660768f29672f23355a78eaaea2f6e05c9268, the tree dump added a few more annotations, and may require small changes to your tree-dump parser.

[2020-08-19 23:00] hzeller opened #409 "Backslash before newline in comment triggers indentation"
Example:
[code]

Output:
[code]

Debug partition tree output with `--show_token_partition_tree`
[code]

[2020-08-19 23:07] fangism commented on #409
I am fairly certain this is the fault of the "InterLeaf" state machine that sweeps up non-syntax tokens in the Verilog tree_unwrapper.cc.  A recent change in the lexer separated out line continuations as distinct tokens (from the preceding //comment), and that state machine probably just needs to be updated to handle that.

[2020-08-20 01:02] #277 closed

[2020-08-20 01:25] fangism commented on #357
https://github.com/google/verible/commit/bee424ae46ca2510ef728547d76318b0feca59b6 may make it easier to select subranges of statements that are consecutive assignments.

[2020-08-20 21:19] fangism commented on #374
Done by fa24d2f1a40749ddca1ef935bea922cc19eeef7c

[2020-08-20 21:19] #374 closed

[2020-08-20 21:24] fangism commented on #318
@Ciprian167 Sounds like you had work-in-progress a while ago.  Any updates or need help?

[2020-08-20 21:37] fangism opened #410 "Align instance actual parameters inside `#()`"
Example, we'd want something like:

[code]

Two-columns should be sufficient, just aligning on the `(` on each parameter.

This implementation should be very similar to named port connections of instances (also in the above example).

https://github.com/google/verible/blob/82a9c862f9b40c78bdecb910894fd5c90432c415/verilog/formatting/align.cc#L499

which was introduced in https://github.com/google/v

[2020-08-21 03:39] Ciprian167 commented on #318
Ohh. I forgot I started this. Sorry. Let me brush up.

[2020-08-23 19:05] fangism opened #411 "align class property declarations"
Like so:

[code]

[2020-08-23 19:05] fangism commented on #411
b/158031157

[2020-08-27 15:56] #411 closed

[2020-08-27 23:43] #318 closed

[2020-08-29 04:00] fangism opened #413 "align case items"
Task: align various case items like so

[code]

Suggested first cut:

* Only align when all case item clauses are single-statements that fit on one line (no begin/end blocks) -- can examine the token partition tree shape or syntax tree for this
* Only align when there is a single label on the left.
* Start simple, two-column (don't bother aligning the RHS yet)

[2020-08-29 04:01] fangism commented on #413
b/166857819

[2020-08-29 17:18] fangism commented on #357
Checking in, do you need any help?

[2020-08-31 17:07] fangism commented on #387
Done for now.

[2020-08-31 17:07] #387 closed

[2020-08-31 17:08] fangism commented on #396
Documentation is in README.md (front page)

[2020-08-31 17:08] #396 closed

[2020-08-31 22:52] fangism opened #416 "format specify constructs"
Example (ideal input):

[code]

currently gets formatted into:

[code]

[2020-08-31 22:52] fangism commented on #416
b/166931781

[2020-08-31 22:53] fangism commented on #416
We also need to fix the spacing in `$setup (` to look like a built-in function call (no space).

[2020-08-31 23:45] #416 closed

[2020-09-02 13:06] MinaToma opened #418 "Kythe: extract Non-ANSI style ports in module declaration"
Extend Kythe facts extractor to extract Non-ANSI ports in module declaration.

[code]

Depends on: #388

[2020-09-02 13:09] MinaToma opened #419 "Kythe: extract data type forwarding in module declaration"
Extend Kythe facts extractor to extract  ports with no data type in module declaration.

[code]

Depends on: #388

[2020-09-02 13:11] MinaToma opened #420 "Kythe: extract module instance parameters as children not as anchors"
Extraction of  `module_type m(a,b,c,d)` needs to change as `a,b,c,d` are now anchors and should be considered as children to be able to extract `module_type m(id1[id2]);`

[2020-09-02 13:15] MinaToma opened #421 "Kythe: fix bug in extracting multi module instance declaration in one line"
Bug: "module_type m(), k()" outputs module_type twice (also applies for declaring more than one instance of classes).

Intended solution:
- Make Parent node for the type.
- Make Children nodes for every instance.

Depends on: #388

[2020-09-02 13:18] MinaToma opened #422 "Kythe: extend signal extractor to support more than one signal declaration in one line"
Extend current extractor to support signal declaration like: `input a, b, c`
The current extractor detects only `a`.

depends on : #389

[2020-09-03 16:38] MinaToma opened #425 "Track macro definitions and calls appearing inside macro definition bodies"
Consider this case:

[code]

currently this is represented as this:

[code]

It would be good to provide the calls for `PRINT_STRING` wrapped in some kMacroCall node to extract these calls and produce Kythe facts for them.

[2020-09-04 09:04] muhdmud commented on #370
apologies, got caught up with work. Il review and start WIP pr

[2020-09-08 21:49] fangism opened #428 "want type actual parameters to appear one per line (various contexts)"
Formatter produces:

[code]

but want

[code]

[2020-09-08 21:59] fangism commented on #428
b/168058137

[2020-09-09 02:28] fangism commented on #40
After brief discussion with @msfschaffner , regarding the original request, we're specifically addressing the following contexts for now:

* port declarations
* named port connections
* parameter declarations
* named parameter assignments

[2020-09-09 16:28] #422 closed

[2020-09-10 00:52] #428 closed

[2020-09-10 00:52] #418 closed

[2020-09-10 16:24] #391 closed

[2020-09-10 18:45] msfschaffner opened #431 "Wrong hang/wrap indentation in ternaries with comments"
the following testcase

[code]
gets formatted as follows:

[code]

this seems to have the wrong hang/wrap indentation.

it could be that this is due to the comments at the end of the lines.
without the comments this gets formatted as:

[code]
and if we make the expression longer, it gets wrapped correctly:
[code]

[2020-09-10 18:46] msfschaffner commented on #431
b/168230641

[2020-09-10 18:54] msfschaffner opened #432 "Formatting of bind statements should behave the same as module/interface instantiations"
The following bind statements
[code]
gets reformatted as
[code]
which is a weird choice. I.e., the formatter prefers one parameter assignment per line, and then puts all port connections onto a single line. I would expect it to leave the port connections one per line also...

[2020-09-10 18:55] msfschaffner commented on #432
b/168231630

[2020-09-10 19:16] #40 closed

[2020-09-10 19:37] fangism commented on #40
@msfschaffner @imphil @udinator

See these new (semi-documented) flags to configure indentation to OT's style in the short-term:

[code]

To get the 2 space indentation you want, set these all to `=indent`.

You can save these flags to a makeshift flag file and pass:

[code]

When these get re-organized in the future, we'll give you a head's up.

[2020-09-10 20:55] fangism commented on #40
Now available in release: https://github.com/google/verible/releases/tag/v0.0-579-gd6f06e4

[2020-09-10 21:47] msfschaffner commented on #40
Thanks @fangism! We'll give this a go.

[2020-09-11 04:17] fangism opened #433 "Align function/task formal parameters"
Example from: https://github.com/msfschaffner/opentitan/pull/7/files/2bf9354bef93019b3778564ea746aa51584e8d2d#diff-f7facda2840d21c08bab1b5280a8d485

Desirable output:

[code]

However, I sense that forcing parameters onto their own line may not always be desirable.  We'll need to come up with a way to sense the author's intent.

[2020-09-11 09:45] ivan444 commented on #388
This is done. The followups are in #419, #420, #421

[2020-09-11 09:45] #388 closed

[2020-09-11 14:02] MinaToma opened #434 "Kythe: Extract actual port references in module instantiation"
Extend Kythe facts extractor to support the following case

[code]

[2020-09-11 14:14] MinaToma opened #435 "Kythe: Fix bug in resolving references inside classes and packages"
Consider this case

[code]

[code]

both cases will fail to find the definition of `x` in the function but it should be resolved correctly.

[2020-09-11 14:19] MinaToma opened #436 "Kythe: Extend classes extraction to cover class hierarchy"
Extend kythe facts extractor for classes to cover the following:

- `extends` keyword
- `super` and using it to access members of the super class e.g `super.my_int`
-  Accessing class member and static members e.g `class_instance.my_var` and `class::static_var`

[2020-09-11 14:25] MinaToma opened #437 "Kythe: extend function extractor to support pure virtual functions"
Extend kythe facts extractor for functions to cover pure virtual function and function overrides.

[2020-09-11 14:28] MinaToma opened #438 "Kythe: extend function extractor to support package and class calls"
Extend Kythe extractor for function to support calls like `pkg::my_function()` , `class::my_function()` and `class_instance.function()`

[2020-09-11 14:35] MinaToma opened #439 "Kythe: extend function extractor to include endfunction, return statement and return type"
Extend function extractor to include:

- Function name after end function e.g `endfunction: function_name`
- Function return statement e.g `return some_bar` or `return call_function2()`
- Function return type e.g `function pkg::bar_z my_function();`

[2020-09-11 14:38] MinaToma opened #440 "Kythe: extend package extractor to extract package member direct access"
Extend Kythe facts extractor to cover cases like `display(pkg::some_var)`

[2020-09-11 14:40] MinaToma opened #441 "Kythe: extend current solution for kythe facts extraction to support multi file extraction and cross file referencing"
Current solution for Kythe works only with single files but it should be extended to support cross file referencing like importing package from other files.

[2020-09-11 14:42] MinaToma opened #442 "Kythe: add support to integers, strings, bit and logic"
Extend Kythe facts extractor to support extraction for integers, strings, bits, and logic for both definitions and references.

[2020-09-11 14:46] MinaToma commented on #389
This is done. The followups are in #442

[2020-09-11 14:46] #389 closed

[2020-09-11 14:48] MinaToma commented on #390
This is done. The followups are in #439 #437 #438

[2020-09-11 14:48] #390 closed

[2020-09-11 14:49] MinaToma commented on #393
This is done. The followups are in #435 #436

[2020-09-11 14:49] #393 closed

[2020-09-11 16:42] msfschaffner opened #444 "Missing space before hashtag in class declarations extending parameterized class"
The formatter removes the space before the hashtag:

before:
[code]
after:
[code]

[2020-09-11 16:43] msfschaffner commented on #444
b/168309966

[2020-09-11 17:12] msfschaffner opened #445 "Wrong formatting of constraints blocks"
Verible erroneously reformats the following blocks into one-liners.

before:
[code]

after:
[code]

[2020-09-11 17:13] msfschaffner commented on #445
b/168312418

[2020-09-11 17:59] #392 closed

[2020-09-14 17:58] #421 closed

[2020-09-14 18:29] fangism opened #450 "kythe (crash): CHECK scope_context_.SearchForDefinition( CreateFunctionOrTaskSignature"
Our fuzz testing found the following input:

[code]

assert-fails:

[code]

[2020-09-14 18:32] fangism commented on #450
More crash context:

[code]

[2020-09-14 18:58] fangism opened #451 "kythe (crash): Check failed: E(node.Tag().tag) == expected_node_enum (kMacroCall vs. kLocalRoot) (inside IndexingFactsTreeExtractor::ExtractFunctionOrTaskCall())"
Running the kythe extractor on this test case:

[code]

Crashes with:

[code]

There may be some CST structural inconsistency or incorrect assumption going on.

[2020-09-14 18:58] fangism commented on #451
b/168388196

[2020-09-14 19:18] fangism opened #452 "kythe (crash): CHECK failure: t.tag == verilog_tokentype::SymbolIdentifier in identifier.cc"
Test case:

[code]

crashes with:

[code]

[2020-09-14 19:18] fangism commented on #452
b/168397430

[2020-09-14 20:42] #413 closed

[2020-09-15 04:22] vasantteja commented on #445
Can I assign this to myself?

[2020-09-15 04:22] vasantteja commented on #444
Can I assign this issue to myself?

[2020-09-15 05:32] fangism commented on #445
Yes, thank you for volunteering!

Tips: examine `verible-verilog-syntax --printtree` to see the internal syntax tree structure.
`verible-verilog-format --show_token_partition_tree` (optionally `--show_inter_token_info`) will show you the formatter internal representation as a hierarchical tree of token ranges.

Feel free to ask any questions to help get you going.

[2020-09-15 05:36] fangism commented on #444
Yes, thank you for volunteering.

I expect the fix for this to be a few lines in verilog/formatting/token_annotator.cc.

Tip:
If you run `verible-verilog-format` with `-v=3 --alsologtostderr`, it will show you the reason why a particular spacing value was chosen between two tokens.

[2020-09-15 16:25] fangism commented on #410
Fixed by https://github.com/google/verible/commit/c836a56396e913f8784cddb9bcb4a8772fde557a

[2020-09-15 16:25] #410 closed

[2020-09-15 16:30] mithro opened #454 "verible-verilog-obfuscator tool not on verible website?"
The site at https://google.github.io/verible/ lists the linter, formatter and syntax tooling. It would also be good to list the obfuscator tool.

[2020-09-15 16:33] mithro commented on #454
https://google.github.io/verible/README.html#code-obfuscator

[2020-09-15 16:34] mithro opened #455 "verible-verilog-diff tool not on verible website?"
The site at https://google.github.io/verible/ lists the linter, formatter and syntax tooling. It would also be good to list the diff tool.

[2020-09-15 16:35] mithro opened #456 "verible-verilog-preprocessor tool not on verible website?"
The site at https://google.github.io/verible/ lists the linter, formatter and syntax tooling. It would also be good to list the preprocessing tool - see https://google.github.io/verible/README.html#preprocessor

[2020-09-15 16:39] mithro commented on #455
* https://google.github.io/verible/README.html#lexical-diff

[2020-09-15 23:16] #419 closed

[2020-09-16 07:23] MinaToma commented on #395
Re-opening because the tests aren't added to the CI yet.

[2020-09-16 11:23] MinaToma commented on #420
@fangism I tried this example and it worked fine (I think using `wire` as an index isn't right but ignore it as `int` isn't extracted yet)

[code]

[2020-09-16 11:24] MinaToma commented on #420
Can the port be class member or some package member?

[2020-09-16 16:35] fangism commented on #395
co-assigning to @ivan444 to help with the starlark test rules.

[2020-09-16 18:26] #440 closed

[2020-09-16 19:02] fangism opened #459 "[kythe] crash: CHECK failure: !stack_.empty() in auto_pop_stack.h"
## Input test case

(not reduced, direct from fuzz-testing report)

[clusterfuzz-testcase-minimized-verilog_kythe_extractor_fuzzer-6216524817498112.txt](https://github.com/google/verible/files/5234347/clusterfuzz-testcase-minimized-verilog_kythe_extractor_fuzzer-6216524817498112.txt)

## Describe what is wrong or missing

[code]

I think this is automatically entering a parsing mode where the sour

[2020-09-16 19:02] fangism commented on #459
b/168722009

[2020-09-16 19:09] #420 closed

[2020-09-16 19:27] fangism commented on #420
That's ok, it should be able to tolerate what would otherwise fail semantically.  Source code validation is the responsibility of other tools.

[2020-09-16 19:28] fangism commented on #420
I think so, if they are compile-time constant values.

[2020-09-17 08:11] zegervdv opened #460 "Crash on $size in for loop"
**Test case**

[code]

**Actual output**

Formatter crashes.

Include any possible diagnostic messages from the formatter.
[code]

The error can be circumvented by assigning the `$size(s_req)` to a constant first and using the constant in the for loop.

[2020-09-17 08:20] fangism commented on #460
Confirmed, able to reproduce here.  Thanks for the report.

[2020-09-17 14:16] MinaToma opened #463 "[kythe] Extract Class Constructor Arguments for Instances"
## Input test case

[code]
## Describe what is wrong or missing

Extend the extractor to produce facts for `new(x)`

[2020-09-17 14:32] MinaToma opened #464 "[kythe] Deep member accessing for classes and packages"
## Input test case

[code]

## Describe what is wrong or missing

Extend the extractor to cover `pr.addr.street`

[2020-09-17 14:49] MinaToma opened #465 "[kythe] Extract Kythe Facts for Enums"
## Describe what is wrong or missing

Extend kythe extractor to produce facts for `enums`.

[2020-09-17 14:51] MinaToma opened #466 "[kythe] Extract Kythe Facts for Structs and Unions"
## Describe what is wrong or missing

Extend kythe extractor to produce facts for `structs` and `Unions`.

[2020-09-17 14:53] MinaToma opened #467 "[kythe] Extract Kythe Facts for Interface"
## Describe what is wrong or missing

Extend kythe extractor to produce facts for `interfaces`.

[2020-09-17 20:48] fangism commented on #466
You can probably cover unions as well with much of the same code for handling structs.

[2020-09-17 20:51] fangism commented on #460
b/168826199

[2020-09-17 21:00] MinaToma commented on #466
Thanks for the note.

[2020-09-17 22:23] #442 closed

[2020-09-17 22:23] #434 closed

[2020-09-18 18:26] #402 closed

[2020-09-19 03:29] fangism commented on #312
This can start with those hardcoded patterns.

[2020-09-19 19:22] fangism opened #469 "[kythe] crash: !stack_.empty() in auto_pop_stack.h, in verilog::kythe::IndexingFactsTreeExtractor::ExtractSymbolIdentifier"
## Input test case

[code]

## Describe what is wrong or missing

Crashes with:

[code]

I suspect this is related to trying to parse the file in alternate syntax mode.
We should consider disabling it for kythe indexing.

[2020-09-19 19:23] fangism commented on #469
b/168973268

[2020-09-21 16:44] #469 closed

[2020-09-21 20:23] #464 closed

[2020-09-21 21:54] fangism opened #472 "Align local variable declarations in statement lists"
**Test case**

[code]

Include any options or configuration used.

**Actual output**

[code]

Include any possible diagnostic messages from the formatter.

**Expected or suggested output**

The original input form (aligned) would look better, especially if input was already aligned.

[2020-09-21 21:56] fangism commented on #472
b/169089997

[2020-09-21 21:58] fangism commented on #472
Larger example:

https://github.com/hzeller/opentitan/commit/a507b44d5b2ff86e2bb574cf64703f22048d2594
at hw/ip/aes/dv/env/aes_scoreboard.sv

[2020-09-22 00:55] fangism commented on #444
@vasantteja Checking in, need any help? Have any questions?

[2020-09-22 00:56] fangism commented on #445
@vasantteja Checking in, need any help or have any questions?

[2020-09-22 06:27] fangism opened #473 "constraint else-clause wrapped/indented poorly"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

[code]

if-else constraints are expected to format closer to C-style, with `} else {` allowed.

[2020-09-22 06:28] fangism commented on #473
origin: https://github.com/hzeller/opentitan/commit/a507b44d5b2ff86e2bb574cf64703f22048d2594#commitcomment-42600801

[2020-09-22 06:31] fangism commented on #460
@hzeller You found a very similar case to this one with `$bits()` inside a for-loop.  Do you have full context to paste?

[2020-09-22 07:37] MinaToma opened #474 "[kythe] Extend Kythe Extractor to cover `include for Cross-File Referencing"
## Describe what is wrong or missing

Extend the extractor to extract facts for ```include`` and cover cross-file referencing.

[2020-09-22 13:19] MinaToma opened #476 "[kythe] bug in class instances with package name"
## Input test case

[code]

## Describe what is wrong or missing

Class type can be some class inside a package and tagged with `kQualifiedId`.
Extend the extractor to cover this case.

[2020-09-22 13:21] MinaToma opened #477 "[kythe] Extract statements in assignment expressions"
## Input test case

[code]

## Describe what is wrong or missing

`my_function(2)` should be extracted as `kFunctionOrTaskCall` but it isn't.

[2020-09-22 15:00] MinaToma opened #479 "[kythe] Extract Class Constructor"
## Input test case

[code]

## Describe what is wrong or missing
Extend class extractor to cover extraction for class constructor.

[2020-09-22 16:29] #357 closed

[2020-09-22 16:29] #472 closed

[2020-09-22 17:53] fangism opened #480 "[kythe] `super` should reference extends class where applicable"
## Input test case

[code]

## Describe what is wrong or missing

`super` should reference the `uvm_test` even, if its definition is unavailable.
(It comes from a standard library called UVM, analogous to the C++ standard library.)

Self-contained reduced test case:

[code]

If there is more than one extends class (uncommon), you can give up, or take a best guess, or try to infer the correct base

[2020-09-22 17:58] fangism commented on #474
You may assume that given a file list, the files named are top-level files from which to start, and that included files referenced are accessible on the filesystem relative to the path from which the tool is invoked.  Later we can add an option to support include-paths (like `-I` for C/C++ compilers) that will add flexibility.

[2020-09-22 18:06] fangism commented on #474
Possible approaches to this problem:

* Textually expand the included file inline like a preprocessor would, into a single text stream.  But you'd then need to keep track of originating text locations in the file stack (in case of nested includes).  This has a better chance of being able to parse the expanded result in cases where the included files are not parseable on their own.  The downside is

[2020-09-22 18:18] fangism opened #481 "[kythe] reference links for expressions inside declarations' array dimensions"
## Input test case

[code]

## Describe what is wrong or missing

Links are missing for `foo_pkg` and its `DATA_WIDTH` member.  (Not sure if this is due to multi-file.)

Self-contained test case (untested):

[code]

[2020-09-22 18:19] #438 closed

[2020-09-22 18:30] fangism opened #482 "[kythe] extract expression/type references from actual parameters"
## Input test case

[code]

## Describe what is wrong or missing

In function `foo`, `bar_c` and `param` should be linked as references.

[2020-09-22 18:32] fangism commented on #480
Currently, the `f` in `super.f()` points to self `derived_c::f`.

[2020-09-22 18:49] fangism opened #483 "[kythe] wrong link to object member reference sharing same name as local variable"
## Input test case

[code]

## Describe what is wrong or missing

The `mem` in `vseq.mem` points to the same `mem` assigned on line 4, and on the RHS of the same line 6.

If for some reason vseq's type cannot be determined (perhaps due to multifile at this time), then it is ok to suppress reference links to any of its members.  We should prefer missing links over incorrect links.

origin: ibex/cor

[2020-09-22 19:02] fangism opened #484 "[kythe] pre-index UVM library"
This is a bit of an open-ended request to somehow incorporate indexing of the standard UVM library so that projects that use it can link to an authoritative source of information.  The UVM library rarely changes, and is heavily used, so there would be significant benefit at a (roughly) one-time cost to index it serve it.

Example repo: https://github.com/accellera/uvm

Also note: there have been a

[2020-09-22 19:09] fangism opened #485 "[kythe] missing definition of formal parameter (module/interface/class)"
## Input test case

[code]

## Describe what is wrong or missing

`DATA_WIDTH` is missing a definition anchor in the parameter list, and also a reference in the declaration of `instr_id`.

[2020-09-22 19:15] fangism opened #486 "[kythe] missing reference to formal type parameter in class declaration with extends"
## Input test case

[code]

## Describe what is wrong or missing

1) In the declaration of `core_base_seq`, the `REQ` in `extends uvm_sequence#(REQ)` should reference the `REQ` formal type parameter.
1) `uvm_sequence_item` in `type REQ = uvm_sequence_item` (default) should reference the `class uvm_sequence_item` on line 1.

[2020-09-22 19:18] fangism opened #487 "[kythe] link extends classes (inheritance)"
## Input test case

[code]

## Describe what is wrong or missing

Missing link from `Base` in `extends Base` to definition.

[2020-09-22 19:25] fangism opened #488 "[kythe] preprocessing conditionals missing references"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

`FOO` and `BAR` should at least generate dangling references.
In practice, often there is no definition, as the user is expected to define them on the command-line when invoking a tool (.e.g `SIM` and `SYNTHESIS`).  But at least we can easily find all such references using

[2020-09-22 19:28] fangism opened #489 "[kythe] includes should emit file reference links"
## Input test case

[code]

## Describe what is wrong or missing

The `"path/to/foo.svh"` should link to that named file.
I understand this is blocked on multi-file support.

[2020-09-22 19:33] fangism opened #490 "[kythe] different objects' members with same name should beget distinct references"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

The 2 occurrences of `num_of_iterations` emit the same reference, when in fact they belong to members of different types.

Possibly related to #483

[2020-09-22 23:50] mithro opened #491 "transition() is experimental and disabled by default"
[code]

[2020-09-22 23:51] mithro opened #492 "warning: unknown warning option '-Wno-free-nonheap-object'; did you mean '-Wno-sequence-point'? [-Wunknown-warning-option]"
[code]

[2020-09-23 00:26] hzeller commented on #491
When do you see this message ?

[2020-09-23 00:34] fangism commented on #492
This is coming from kythe's own BUILD files, which probably assumes some range of versions of compilers.  (bazel != autoconf/automake)
If it's a nuisance, maybe we can patch it out?

[2020-09-23 00:36] hzeller commented on #491
What bazel version are you using ?

[2020-09-23 00:45] fangism opened #493 "want space between return keyword and following expression"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

[should be the original spacing after `return`]

[2020-09-23 00:47] fangism commented on #493
b/169194747

[2020-09-23 01:09] fangism opened #494 "Align colon inside dimension ranges"
**Test case**

[code]

**Actual output**

[code]

Include any possible diagnostic messages from the formatter.

**Expected or suggested output**

(want the original form)

[2020-09-23 01:09] fangism commented on #494
b/158244946

[2020-09-23 04:13] fangism opened #495 "Expected spacing added in aligned multi-variable declaration (class member)"
**Test case**

[code]

**Actual output**

[code]

Note the extra spaces before `window_range_hi`.  Those should probably not be there.

**Expected or suggested output**

[code]

Note: we had no intention of handling multi-variable declarations at this time.
Thus mishape is most likely in the column-scanner for data declarations.

[2020-09-23 04:15] fangism commented on #495
b/169204125

[2020-09-23 04:31] fangism opened #496 "module with exported function split across too many lines"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

Original form looked better.

[2020-09-23 15:40] mithro commented on #491
This is from the Kokoro Kythe builder internally.

[2020-09-23 15:40] mithro commented on #492
This is from the Kokoro Kythe builder internally.

[2020-09-23 16:10] #463 closed

[2020-09-23 16:10] #477 closed

[2020-09-23 18:01] udinator opened #498 "[indentation] un-indented package import statement in module declaration"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

Ideally the `import` statement should be indented, e.g.

[code]

[2020-09-23 18:11] udinator opened #499 "incorrect indentation of `initial begin...end` blocks with //comment"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

The formatter should not touch this input block at all as it is already formatted correctly.

[code]

Citations to published style guides would help.

[2020-09-23 18:12] fangism commented on #498
b/169252240

[2020-09-23 18:19] udinator opened #500 "[alignment] unwanted indentation of bracket-enclosed lists inside coverpoint"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

Ideally we would keep the original formatting.

[code]

[2020-09-23 18:26] fangism commented on #499
b/169252975

[2020-09-23 18:28] fangism commented on #494
This one may be a little tricker than just reserving new columns around the `:` because the contents of `[]` could be a scalar value, not always a range.

[2020-09-23 18:34] fangism commented on #496
[code]

This is a token partitioning problem.

[2020-09-23 18:35] fangism commented on #496
Particularly strange is the fact that the entire export declaration node was marked for tabular-alignment.

[2020-09-23 18:37] fangism commented on #496
b/169255663

[2020-09-23 18:42] fangism commented on #496
The tabular-alignment designation came from `NodeEnum::kModuleItemList` because module-items can contain alignable sections, but is not necessarily alignable in its entirety.  When the export node got hoisted/flattened, it inadvertently turned a non-alignment partition into an align-handled one.

**We need to prevent that in tree_unwrapper.cc during partition reshaping.**

[2020-09-23 18:50] fangism commented on #500
b/169253551

[2020-09-24 19:24] fangism commented on #450
Fixed by https://github.com/google/verible/commit/d3661b5a979a9da113b5ace533e25dffb9cd9a0e

[2020-09-24 19:24] #450 closed

[2020-09-25 05:13] fangism opened #502 "[kythe] (crash) Segv on unknown address in verilog::kythe::IndexingFactsTreeExtractor::Visit"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

[code]

[2020-09-25 05:13] fangism commented on #502
b/169365972

[2020-09-25 05:13] fangism commented on #502
(Found by fuzz-testing.)

[2020-09-25 05:16] fangism commented on #502
This variant:

[code]

produces a slightly different crash signature, but possibly attributable to bad memory access:

[code]

[2020-09-25 05:16] fangism commented on #502
b/169368348

[2020-09-25 08:13] MinaToma commented on #474
Closing this issue as it seems duplicated with this one #489.
But thanks for the suggestions.

[2020-09-25 08:13] #474 closed

[2020-09-25 08:14] MinaToma commented on #489
Issue #474 contains some approaches for addressing this issue.

[2020-09-25 08:19] MinaToma commented on #487
Related to this issue #436

[2020-09-25 08:24] MinaToma commented on #485
Note while solving this issue: check also extraction for `kPackedDimenstion` and `kUnPackedDimenstion` in different CST nodes.

[2020-09-25 08:29] MinaToma commented on #480
Related to #436

[2020-09-25 14:42] MinaToma commented on #486
Related to #394.

[2020-09-25 14:42] MinaToma commented on #485
Related to #394

[2020-09-25 21:34] fangism opened #503 "[kythe] scoping of local nets/variables in various generate blocks"
## Input test case

[code]

## Describe what is wrong or missing

Make sure that the two `temp`s are defined in distinct scopes.
These begin/end blocks may not always come with labels like `gen_x` and `gen_y`, in which case you may assign any unique identifier internally.
Same with `for(genvar i = 0; ...) begin ... end`.
Verify with test cases.

[2020-09-25 21:45] fangism opened #504 "[kythe] genvar variables declared inside for-loops should be distinct"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

The loop-variable `i`s should be distinct def/ref sets, but right now are combined.

[2020-09-25 22:25] fangism commented on #473
Smaller test case:

[code]

produces:

[code]

Token partition tree:

[code]

Notice that `} else {` are already properly partitioned.
I think that somewhere we are forcing a line break at the `else`, and need to fix that.

[2020-09-25 23:03] fangism commented on #473
b/169449367

[2020-09-26 00:43] fangism commented on #460
Running the original test case with `-v=4 --alsologtostderr`, we see:

[code]

The `;` in `...; i++` got cut out.

[2020-09-26 01:15] fangism commented on #460
This crashes with nearly the same signature.

[code]

I've figured out the fix.

[2020-09-28 18:46] fangism opened #506 "Unwanted spaced after $clog2 in module parameter list"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

[code]

[2020-09-28 18:46] fangism commented on #506
b/169586797

[2020-09-28 19:15] fangism commented on #506
The second `$clog2` is the original problem reported.

Observation: the first `$clog2` call did not get mis-formatted.

[2020-09-28 20:33] fangism commented on #444
@vasantteja Checking in, need any help? Have any questions?

[2020-09-28 20:33] fangism commented on #445
@vasantteja Checking in, need any help or have any questions?

[2020-09-28 21:59] mithro commented on #379
FYI -- @rw1nkler

[2020-09-28 23:10] fangism opened #507 "Should be spacing around = in for loop initializer"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

[code]

Should be `i = N`.  `end` indentation looks wrong, and will be separate issue.

[2020-09-28 23:13] fangism opened #508 "Wrong indentation of 'end' of for-loop statement"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

[code]

`end` is wrongly indented.   (Spacing around `=` is #507)

[2020-09-28 23:13] fangism commented on #507
`end` indentation is #508

[2020-09-28 23:13] fangism commented on #507
b/169606046

[2020-09-28 23:16] fangism commented on #508
b/169615453

[2020-09-28 23:25] fangism commented on #508
[code]

So far, indentation looks correct here, 2 spaces:

[code]

[2020-09-28 23:27] mithro commented on #379
@rw1nkler set this up for the [VerilogToRouting repository](https://github.com/verilog-to-routing/vtr-verilog-to-routing/tree/master/doc/_doxygen) and it can be seen at https://docs.verilogtorouting.org/en/latest/api/vpr/contexts/

[2020-09-29 04:00] fangism opened #510 "alignment of preprocessor-condition wrapped port declarations broken"
**Test case**

[code]

**Actual output**

[code]

**Expected or suggested output**

[code]

Citations to published style guides would help.

[2020-09-29 04:01] fangism commented on #510
b/169583290

[2020-09-29 06:32] fangism commented on #510
My triage found that:

1) the alignment code assigned inconsistent keys to columns inside vs. outside of the preprocessing-condition section, like [0] vs. [0,2]
2) this led to confirmation that the conditionally wrapped ports' token partitions contained additional hierarchy

[code]

vs.

[code]

So then alignment code encountered a `kPortDeclarationList` node where it typically expected a `kPortDe

[2020-09-29 06:33] fangism commented on #510
In summary, this is an alignment issue from a user perspective, but internally handled in token partitioning.

[2020-09-29 06:53] fangism commented on #502
Fixed by https://github.com/google/verible/commit/d3661b5a979a9da113b5ace533e25dffb9cd9a0e

[2020-09-29 06:53] #502 closed

[2020-09-29 07:22] fangism commented on #508
With `-v=4 --alsologtostderr`, I found that with `--notry_wrap_long_lines` (the default), that the entire for-loop (up through `end`) was being disabled, and hence original spacing preserved.

I need to updating space preservation to be less aggressive, and only apply to leaf partitions.

[2020-09-29 12:23] #473 closed

[2020-09-29 12:24] #460 closed

[2020-09-29 12:24] #435 closed

[2020-09-29 16:03] #510 closed

[2020-09-29 17:00] fangism opened #512 "[kythe] formal parameters may be initialized to depend on earlier parameters"
## Input test case

[code]

## Describe what is wrong or missing

Make sure there is a link from the `A` in `A-1` to the definition on the line above.
If this already works, then make sure this is captured in a test case.

[2020-09-29 17:55] #512 closed

[2020-09-29 17:56] MinaToma commented on #512
This one is extracted fine.

[2020-09-29 17:57] fangism opened #513 "[kythe] inline constraints: randomize()-with should link to variables declared in invoking object's definition scope"
## Input test case

From LRM 18.7.

[code]

## Describe what is wrong or missing

In `with {x < y;}`, `x` and `y` should reference the class property declarations inside `SimpleSum`.

This requires using type-of `p` information.

[2020-09-29 17:59] MinaToma opened #514 "[kythe] Extract Packed Dimentions in"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

e.g. is a fact missing? or is a reference link incorrect?

[2020-09-29 18:00] fangism commented on #512
For my benefit, can you point me to the test for this?  (I wish I had a syntax-pattern search tool...)

[2020-09-29 18:02] MinaToma commented on #512
I will push it in a few minutes.
You will find it inside more_testdata/parameter.sv

[2020-09-29 18:51] rw1nkler commented on #379
Some useful resources for adding Sphinx+Breathe integration (C/C++ support):
- [Breathe Quickstart](https://breathe.readthedocs.io/en/latest/quickstart.html)
- [Initial Sphinx+Breathe Support (VTR)](https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1354/files)
- [API Documentation for C/C++ Projects (VTR)](https://docs.verilogtorouting.org/en/latest/dev/c_api_doc/)

[2020-09-29 20:34] fangism opened #515 "[kythe] resolve out-of-block class method definitions (tasks/functions)"
## Input test case

[code]

## Describe what is wrong or missing

Verify links for `f`, `x`, `y`, `z`.

[2020-09-29 21:54] #508 closed

[2020-09-29 22:12] fangism commented on #506
Examing logs from the token_annotator.cc with `-v=4 --alsologtostderr`:

[code]

This is wrong: `spaces: 1, reason: Module/interface declarations: want space between ID and '('`

We need to adjust the context-sensitive logic.

[2020-09-29 23:00] fangism commented on #507
Checking spacing annotation with `-v=4 --alsologtostderr`, the spacing constraint looks correct:

[code]

But it looks like a range of text was inadvertently format disabled (preserving).

[code]

which seems related to #508.

[2020-09-29 23:04] fangism commented on #507
Confirmed, the fix for #508 fixed this one too, but I'll add/modify a test case to cover this example.

[2020-09-30 09:08] #507 closed

[2020-09-30 09:08] #394 closed

[2020-09-30 12:15] MinaToma commented on #490
The `num_of_iterations` now do not emit references as their definitions can't be found.
So they do emit the same reference.

[2020-09-30 12:15] #490 closed

[2020-09-30 12:18] MinaToma commented on #483
Will be fixed after fixing this issue  #436

[2020-09-30 12:23] MinaToma commented on #459
Are we still having problems with this test?
I don't understand the test can you simplify it?

[2020-09-30 15:58] fangism commented on #459
No longer crashes after the above commit, and just results in syntax errors, so working as intended now.

[2020-09-30 15:58] #459 closed

[2020-09-30 18:31] vasantteja commented on #444
@fangism sorry, I was traveling and I couldn't take a look at this. I will reach out to you if I have any doubts. Thanks for the patience.

[2020-09-30 18:32] vasantteja commented on #445
@fangism sorry, I was traveling and I couldn't take a look at this. I will reach out to you if I have any doubts. Thanks for the patience.

[2020-10-01 09:02] #506 closed

[2020-10-01 09:02] #403 closed

[2020-10-01 09:02] #404 closed

[2020-10-01 10:37] MinaToma opened #518 "[kythe] Extract packed dimensions for unit"
## Input test case

[code]

## Describe what is wrong or missing

// The CST for the first case
[code]

// The CST for the second case:
[code]

Extract the packed dimension in both cases.

[2020-10-01 10:39] MinaToma commented on #518
@fangism I am a little confused about this case.
1- Is this valid?
2- Are there similar types like this?
3- How do you suggest dealing with this?  Is there a different way other than using conditions?

[2020-10-01 19:18] fangism opened #519 "Override style-guide citation links and references"
**Summary**

Currently, style guide citation links are hard-coded into the rule implementations themselves.
In the future, users and rule-set maintainers may wish to redirect these to point to their own style guides.

**Proposal**

Have a way at run-time to re-map each rule's citation to a new link, for example loading such a map through a command-line option that reads an external configuration.

[2020-10-01 19:18] fangism commented on #519
b/169867142

[2020-10-01 21:10] ahmedkrmn commented on #498
Hi @fangism,
I would like to take up this issue. Any guidance on how to implement this?

[2020-10-01 21:20] fangism commented on #498
Thanks.  Some general tips:

Run `verible-verilog-syntax --printtree` on examples of input code.  Note the names of the nodes that capture the sections of interest.  In this case, it should be `kPackageImportList` which was constructed here:

https://cs.opensource.google/verible/verible/+/master:verilog/parser/verilog.y;drc=d7cd6eae543434970bcc8d10f3dd2a19a8a6c2df;l=2903

In https://cs.opensource.

[2020-10-01 21:21] fangism commented on #498
Another way to interactively test/see the token partition tree structure produced by tree_unwrapper.cc is to run `verible-verilog-format --show_token_partition_tree` on an input file.

[2020-10-02 09:26] #481 closed

[2020-10-02 09:26] #485 closed

[2020-10-02 23:42] fangism commented on #518
Sorry, I missed this earlier.

It looks like the first case got built as a `kSelectVariableDimension`, but really should have been a `kPackedDimensions: kDeclarationDimensions`, because in both cases, they are declarations.

1) syntactically valid
2) there shouldn' t be, at least not intentionally -- but there are many contexts in which `[...]` appear, with different meanings
3) we should fix the

[2020-10-02 23:54] fangism commented on #518
I ran `verible-verilog-syntax --verilog_trace_parser` on the first example with the class and found the following grammatic reduction path:

[code]

The reduction from `reference_or_call` to `data_type_base` needs to mutate the token tags.

This is what happens when you re-use a syntax rules (out of convenience) in questionable ways.

[2020-10-03 00:06] fangism commented on #518
Task:

1) Here https://cs.opensource.google/verible/verible/+/master:verilog/parser/verilog.y;drc=d7cd6eae543434970bcc8d10f3dd2a19a8a6c2df;l=6413
rename that node to `kSelectVariableDimensionList` which is already defined in https://cs.opensource.google/verible/verible/+/master:verilog/CST/verilog_nonterminals.h;bpv=1;bpt=1;l=76?gsn=kSelectVariableDimensionList&gs=kythe%3A%2F%2Fgithub.com%2Fgoogle

[2020-10-03 21:32] ahmedkrmn commented on #493
Hi @fangism,
Can I take this one too?

[2020-10-03 22:44] fangism commented on #493
Thank you.

[2020-10-03 22:47] fangism commented on #493
This is the function you'll want to update:
https://cs.opensource.google/verible/verible/+/master:verilog/formatting/token_annotator.cc;bpv=1;bpt=1;l=552?gsn=SpacesRequiredBetween&gs=kythe%3A%2F%2Fgithub.com%2Fgoogle%2Fverible%3Flang%3Dc%252B%252B%3Fpath%3Dverilog%2Fformatting%2Ftoken_annotator.cc%23ROmaSUMU_uyvJwD04Z9lzyIO9K0QZQn_6cJo7pfIUAg

[2020-10-04 08:31] fangism opened #521 "[kythe] CHECK failure: GetSubtreeAsSymbol(symbol, parent_must_be_node_enum, child_position)"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

[code]

[2020-10-06 09:15] fangism opened #523 "[kythe] implement package export declarations"
## Describe what is wrong or missing

The LRM 26.6 describes how package `export` declarations work.

It would also be good to have tests that prove that imported-non-exported symbols work as intended (no unintended bindings).

(Consider this a low-priority, this is used less frequently in the codebases I've seen.)

[2020-10-06 18:53] fangism commented on #284
To help with this task, there is also now diff/patching libraries in:

* https://cs.opensource.google/verible/verible/+/master:common/strings/diff.h
* https://cs.opensource.google/verible/verible/+/master:common/strings/patch.h

With those, one has options to generate diffs of suggested edits, and also interactively ([y/n]?) apply them.

[2020-10-06 20:59] #311 closed

[2020-10-06 21:00] #395 closed

[2020-10-06 22:50] msfschaffner commented on #40
I did a quick test and noted that the flags do not seem to be fully working when instantiating modules, see testcase below:

is:
[code]

should:
[code]

[2020-10-06 23:13] msfschaffner opened #525 "Check for legacy genvar declarations and generate region style"
**Summary**

The google and [lowRISC style guides](https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md#generate-constructs) discourage the use of `generate` regions and separate `genvar` declarations, since they are considered legacy constructs.

It would be nice if the style linter could detect those constructs and flag them.

Suggested rule names:
`[legacy-genvar-declaratio

[2020-10-06 23:14] msfschaffner commented on #525
b/170256350

[2020-10-07 00:05] #441 closed

[2020-10-07 01:31] #498 closed

[2020-10-07 04:13] fangism commented on #525
There is a closely related rule [v2001-generate-begin]:

https://cs.opensource.google/verible/verible/+/master:verilog/analysis/checkers/v2001_generate_begin_rule.h

That one checks explicitly for `generate begin`.  I should ask around if that one can be generalized to cover all uses of `generate`.

[2020-10-07 04:21] fangism commented on #525
In both places I checked, including the lowRISC guide section you cited, I see:

[code]

So they are in agreement.

Of these statements, the second seems to cover the first, making it somewhat redundant.  WDYT?

If not redundant, should these two statements be implemented as one rule or separate?

[2020-10-07 17:55] msfschaffner commented on #525
Indeed, the second one seems to be a super set of the first with respect to style guidance (i.e., don't use generate regions). Hence I would be ok with just implementing one rule for this, unless we see a need that this has to be made configurable in the future (and in such a case you may still want both rules).

[2020-10-07 18:30] fangism opened #526 "[verible-patch-tool] color the diffs/hunks presented to the user"
For the underlying patch-tool described here:
https://github.com/google/verible#interactive-formatting

It would be nice if the diff could be colorized for readability.  Currently it is monochrome.

Example mock-up using (github markdown's default coloring):

[code]

Would also color the prompt `Apply this hunk?` a little differently like this (dark-themed):

![color-patch-tool](https://user-image

[2020-10-07 18:30] fangism commented on #526
b/161930379

[2020-10-09 01:15] fangism opened #528 "[fun] tool/script to animate text formatting/transformation as a demo"
For fun, I'd like to create an animated demo of formatting (or any text transformation):

Script Input for producing text images:

* A batch of (unformatted) text files
* Any transformation command, like sed
* Some configuration of how to render text (font, size, foreground/background color) as an image

Input for animation:

* Configuration of duration for each image (before/after transformation)

[2020-10-09 14:32] muhdmud commented on #370
Sorry for the delay sir! i'm in midst of job transition, il be back in a month or so!

[2020-10-12 22:03] fangism commented on #496
The function that needs updating is [ReshapeTokenPartition](https://cs.opensource.google/verible/verible/+/master:verilog/formatting/tree_unwrapper.cc;drc=e64869b7ae41c4c2ee041ab9c5d1c9d58da57b94;bpv=1;bpt=1;l=1338?q=Reshape&ss=verible%2Fverible&gsn=ReshapeTokenPartitions&gs=kythe%3A%2F%2Fgithub.com%2Fgoogle%2Fverible%3Flang%3Dc%252B%252B%3Fpath%3Dverilog%2Fformatting%2Ftree_unwrapper.cc%23RjIdvgC

[2020-10-13 05:17] hchsiao opened #530 "Add an option to the obfuscator for preserving module interface names"
In our application, it would be useful to obfuscate everything except interface names (e.g. module name and port names) of an IP, as it can be less error-prone for customers when they integrate the IP into their design.

Seems like it could also be useful in other use cases, I will work on this ( #529 ) recently.
Features planned to implement include:
- Add `--preserve_interface` option to the obf

[2020-10-13 05:44] fangism opened #531 "option to show line with diagnostic and a marker (clang-style)"
**Summary**

from @snsokolov :
Currently `verible-verilog-syntax` and `verible-verilog-lint` display diagnostics in the form:

FILE:LINE:COL: ...

but it might be nice to show the user the whole line with the offending text, plus a marker (clang-style diagnostics):

[code]

In other modes when the linter is being used in a service, and is expected to print only (machine parse-able) FILE:LINE:COL:,

[2020-10-13 05:50] fangism commented on #531
b/170696608

[2020-10-13 06:08] fangism commented on #531
Tasks:

* declare a new flag in verilog_lint.cc and verilog_syntax.cc `--show_diagnostic_context` that when enabled, prints an additional line on which the diagnostic was found, followed by a line with a position marker.
* start with this flag disabled by default
* add shell script tests for this new behavior
* announce to users lists and loop in anyone involved who is known to be using these two

[2020-10-13 06:40] fangism commented on #530
Nice idea!  Aside from regular `SymbolIdentifier`s, also consider macro-identifiers that might appear in public sections like module headers.

[2020-10-13 08:12] #489 closed

[2020-10-14 07:24] #329 closed

[2020-10-14 17:08] fangism opened #535 "[kythe] interface class multiple inheritance/extends"
Related to #487

## Input test case

[code]

[code]

## Describe what is wrong or missing

There should be implements or inheritance relationships from `C` to `IA` and `IB`, and `IC` to `IA` and `IB`.

[2020-10-14 20:39] fangism opened #536 "[kythe] command-line: support stdin filelist and redirections"
For testing `verible-verilog-kythe-extractor` (which now expects a file-list), sometimes I don't want to create a temporary file list, and just redirect it through stdin.

If you're making some assumptions about file locations relative to the file-list location, we should try to remove those assumptions.

Recall that our [`file::GetContents`](https://cs.opensource.google/verible/verible/+/master:c

[2020-10-14 20:46] fangism commented on #536
This might also be a good time to support a `--filelist-relative-path` option to prefix all _relative_ paths appearing in a filelist.  (This would be separate from `-incdir` which is intended for `` `include ``s.)

[2020-10-14 20:54] fangism opened #537 "[kythe] references for function call named arguments to formal parameters"
## Input test case

[code]

## Describe what is wrong or missing

In function `g`, there should be reference links for:

* `f` (I think we already have this)
* `a`, `b` (to `f`'s formal arguments)
* `c`, `d` (to `g`'s local formal arguments)

[2020-10-15 08:03] MinaToma opened #538 "[kythe] extract members of array of classes and member of function return"
## Input test case

[code]

## Describe what is wrong or missing

Extend the extractor to properly extract these members.

[2020-10-15 08:13] fangism commented on #538
Note that for `x().y()`, `y` should be looked up w.r.t. the scope of the _return type_ of `x()`.

[2020-10-15 09:28] #465 closed

[2020-10-15 09:50] DhairyaBahl commented on #526
@fangism I would like to work on this issue.

Thanks :)

[2020-10-15 09:51] DhairyaBahl commented on #528
@fangism I would like to work on this issue.

Thanks :)

[2020-10-15 09:52] DhairyaBahl commented on #493
@fangism I can't see any activity on this from few days. If its still available, Kindly assign it to me.

Thanks :)

[2020-10-15 10:53] ahmedkrmn commented on #493
Hi,
I've been busy lately, but I will start working on it this weekend.

On Thu, Oct 15, 2020, 11:52 AM DhairyaBahl <notifications@github.com> wrote:

[2020-10-15 10:56] DhairyaBahl commented on #493
@ahmedkrmn No offense bro. I was just finding some issues for me ;)

[2020-10-15 15:59] fangism commented on #493
Thanks, both of you for offering!

[2020-10-15 16:14] #436 closed

[2020-10-15 16:14] fangism commented on #528
Thank you!  Looking forward to learning how you do this.

[2020-10-15 17:02] DhairyaBahl commented on #528
@fangism Although I am new to this organisation, I will do my best.

Thanks :)

[2020-10-15 20:20] fangism commented on #526
Thank you.

[2020-10-16 09:52] #487 closed

[2020-10-16 12:46] MinaToma opened #540 "[kythe] Extract Classes as function or task arguments"
## Input test case

[code]

## Describe what is wrong or missing

`var1` in `x1.var1` should reference `var1` in `class X`

[2020-10-16 19:33] fangism opened #543 "[kythe] safely handle type-parameter qualified references"
## Input test case

[code]

## Describe what is wrong or missing

Make sure that

1) in `T::member_type`, do not emit any reference for `member_type` because `T` is not resolvable.
2) in `S#(logic)::some_type`, `some_type` does resolve to the typedef definition in `class S`.  This is possible because SystemVerilog` does not have a notion of template specialization like C++ does.

If this is alread

[2020-10-17 01:26] omarahmed1111 commented on #383
@fangism Hello, I would like to work on this, could you assign me? Thanks

[2020-10-17 01:50] fangism commented on #383
Thank you!.  I have some lint-rule development documentation here:
https://github.com/google/verible/blob/master/doc/style_lint.md

I suggest starting by proposing a concrete set of test cases, given the initial description.
Feel free to propose your solution for discussion.  We're here to help.

[2020-10-17 11:06] DhairyaBahl commented on #528
@fangism I am stuck a bit !! Is it really a good first issue ?? Kindly help.

Thanks :)

[2020-10-17 15:59] fangism commented on #528
For the first step, I'm looking for an open-source solution for converting [text to jpg or svg](https://www.google.com/search?q=text+file+to+image&oq=text+file+to+image&aqs=chrome..69i57j0l4j69i64l3.4712j0j1&sourceid=chrome&ie=UTF-8).  Those search results show online web-based converters, but some offline tool would be better.
I found ["PIL"](https://stackoverflow.com/questions/17856242/how-to-co

[2020-10-19 19:29] fangism opened #545 "[kythe] linkify anonymous struct/unions member references"
## Input test case

[code]

## Describe what is wrong or missing

`x` in `data.x` should point to the member inside the anonymous struct.  Likewise for `y`.

This is also plausible in ports:

[code]

[2020-10-20 05:51] fangism commented on #484
@mithro @ivan444 @hzeller How do you think we should go about this task?  This is a "standard library" whose source code is available, and projects are not expected to have to include a copy of it.  I noticed in Verible's source tree that external libraries like absl appear under `external`, [example](https://cs.opensource.google/verible/verible/+/master:external/com_google_absl/absl/strings/strin

[2020-10-20 12:38] ivan444 commented on #484
This is a question of deployment. I'm all for documenting how to index UVM and make it work along your codebase, but offering a preindexed UVM might be a premature optimization.

We need to make sure that cross corpus references work well (i.e., Kythe VNames are well constructed when crossing the project boundry).

[2020-10-21 13:45] MinaToma commented on #545
Related to #540

[2020-10-21 20:44] #493 closed

[2020-10-21 20:45] #467 closed

[2020-10-22 08:25] #466 closed

[2020-10-22 09:58] MinaToma commented on #545
Are the missing `()` in the first function intended?

[2020-10-22 19:05] fangism commented on #545
You may add them if you like.  It's syntactically legal either way.

[code]

[2020-10-22 19:44] #486 closed

[2020-10-22 19:44] #482 closed

[2020-10-23 04:10] fangism commented on #518
b/171531145

[2020-10-23 06:31] MinaToma opened #547 "[kythe] branch isn't identified as a variable"
## Input test case

[code]

## Describe what is wrong or missing

CST for this code:
[code]

Expected CST:
[code]

In CST `branch` here should be `SymbolIdentifier` and not `branch`

[2020-10-23 06:35] fangism commented on #547
Not a kythe issue so much as it is a lexer issue:

https://cs.opensource.google/verible/verible/+/master:verilog/parser/verilog.y;drc=cb7d6286758ebbb446cb9ccb87d5bfff350e94cf;l=533
https://cs.opensource.google/verible/verible/+/master:verilog/parser/verilog.y;drc=cb7d6286758ebbb446cb9ccb87d5bfff350e94cf;l=793

`branch` is a Verilog-AMS keyword, and conservatively, the lexer and parser interpret it

[2020-10-23 06:58] MinaToma opened #548 "wrong CST of `for (uint x = ....)`, "uint" should be wrapped in a data type"
**Describe the bug**

uint is parsed as `kReferenceCallBase` and not as `kDataTypePrimitive` in `kForInitialization`.

**To Reproduce**

[code]

**Actual behavior:**

Current CST:
[code]

**Expected behavior**

Expected CST:

[code]

[2020-10-23 06:59] MinaToma commented on #548
@fangism can you add this issue to the right project.

[2020-10-23 07:10] fangism commented on #548
It doesn't have to be a `kDataTypePrimitive`, but it should at least be wrapped in `kDataType` like any other declaration.

The parsing is correct, just the CST subtree is not re-interpreted properly.

[2020-10-23 07:13] fangism commented on #547
Dialect-selection would mean a configurable post-lexer pass that downgrades select keywords into `SymbolIdentifier` before passing it onto the parser.

[2020-10-23 10:38] MinaToma opened #549 "assignment parsed as "kDataDeclaration""
In this case:
[code]

The current CST for this code:
[code]

correct me if I am wrong, but should this be `kDataDeclaration`?

[2020-10-23 10:39] MinaToma commented on #549
@fangism can you look at this issue and close it if this is intended to be parsed like this.

[2020-10-23 15:18] MinaToma commented on #521
This one is not crashing any more but I found something else.
This is the CST for `n;`:

[code]

probably related to #549

[2020-10-23 17:29] fangism commented on #549
So assignments aren't syntactically allowed in the root package scope, however this is parsed as an implicit-typed data declaration with an initialization (global variable).

[2020-10-23 17:36] MinaToma commented on #549
So this is correct?

[2020-10-23 17:37] MinaToma commented on #549
This is considered `kVariableDefinition` in Kythe extractor BTW.

[2020-10-23 17:52] fangism commented on #549
This is correct.

[2020-10-23 18:10] MinaToma commented on #549
Closing the issue as this was correct.

[2020-10-23 18:10] #549 closed

[2020-10-23 18:12] MinaToma commented on #521
This is not crashing now.

[2020-10-23 18:12] #521 closed

[2020-10-23 22:42] fangism opened #551 "[kythe] link macro where it is used as a hierarchy parent"
## Input test case

origin: opentitan/hw/top_earlgrey/rtl/top_earlgrey_verilator.sv

[code]

## Describe what is wrong or missing

`` `END_MON_PATH`` should link to the local definition.  If there's more than one due to preprocessing conditionality, pick any one or the first one.

You don't need to interpret or expand the macro, as that would require preprocessing.  It is ok for `addr_i` to remain

[2020-10-27 06:23] fangism commented on #383
Thanks for working on this again.
I suggest we name this rule `"suggest-parentheses"` and the class `SuggestParenthesisRule`, and the topic anchor is named `"parentheses"`.

[2020-10-27 17:58] #503 closed

[2020-10-27 17:58] #504 closed

[2020-10-27 19:15] fangism commented on #518
@MinaToma ok, the underlying work is done.  When you get a chance, can you add index-extraction tests to cover and verify this?

[2020-10-27 20:41] #537 closed

[2020-10-29 10:20] ivan444 commented on #185
This is somewhat done. The indexing is working. The remaining tasks are covered with the finer grained bugs. This issue is not useful anymore.

[2020-10-29 10:20] #185 closed

[2020-10-30 00:02] fangism opened #556 "travis-ci: builds time out"
Since kythe was added as a dependency, most travis-builds have been timing out.

First bad:
https://travis-ci.org/github/google/verible/jobs/739104819

Last good:
https://travis-ci.org/github/google/verible/builds/738921915
https://travis-ci.org/github/google/verible/builds/738413728

Things one could look into, to name a few:

* .github/travis/script.sh -- adding some time commands or timestamps

[2020-10-30 00:02] fangism commented on #556
b/171743791

[2020-10-30 00:06] fangism commented on #556
@mithro anyone on AntMicro team available to help?

[2020-10-30 00:08] fangism commented on #556
Most recent timeout: https://travis-ci.org/github/google/verible/builds/740056016

[2020-10-30 01:31] mithro commented on #556
@kgugala - Can you get someone to look at this?

[2020-10-30 07:52] kgugala commented on #556
@fangism can we migrate the CI to e.g. github actions? there is 6h time limit in actions

[2020-10-30 08:40] fangism commented on #556
No objection from me.  (I am still interested if there are some easy speed-ups though.)

[2020-10-30 09:29] MinaToma commented on #518
@fangism Shouldn't `uint` be wrapped in `kPrimitiveDataType` and not `kUnqualifiedId`?

[code]

[2020-10-30 09:46] fangism commented on #518
It is a user-defined type, not a primitive/built-in.  Treat it like type `foo_t`.

[2020-10-30 15:19] ldalek-antmicro commented on #361
Hi @fangism
I've created PR that forces compaction of expressions in bit selection ranges: #558
I'm not sure what to do with ranges in declaration contexts (leaved as it is right now).

Also I've noticed that master branch is correctly preserving spaces in example expressions - only limiting to 1 space and symmetrize ranges:
<pre>
assign lookup_addr_aligned = {lookup_addr_ic0[ADDR_W-1:LINE_W],{LIN

[2020-10-31 04:14] fangism commented on #361
You can leave declarative dimensions as-is.

I re-tested top-of-tree with:

[code]

and got

[code]

I think your change will result in:

[code]

Can you confirm?

If so, that looks ok to me.
In the long term, this is potentially something users may want to configure, but we haven't worked out a configurability story yet.

I can imagine users may have different opinions on spacing in contexts like

[2020-11-01 05:25] #543 closed

[2020-11-01 05:25] #479 closed

[2020-11-02 23:28] fangism opened #560 "[kythe] crash on built-in function name"
## Input test case

1)

[code]

2)

[code]

Reproducer command:

[code]

where `file.sv` contains one of the above.

This is how I test single-file test cases without having to create a temporary file-list, which might be nice to note in the README.  :)

## Describe what is wrong or missing

Crash:

[code]

Suggest fail-safe behavior for built-in function call ids (which will appear as something o

[2020-11-02 23:28] fangism commented on #560
b/171827701

[2020-11-03 02:16] ldalek-antmicro commented on #361
Not exactly. My changes 'forces' compaction of the whole dimension range expression. So for input like:
[code]
I got:
[code]

I assumed that intentention of this issue is to force compaction of the whole expression and not just a binary operators.

[2020-11-03 03:40] fangism commented on #361
For now, I suggest limiting it to binary operators.  Unary operators are already compact.

What else is left?  call like expressions like `$builtin(a, b)`.

It's arguable whether `:` is a binary operator because it means "range".  I suggest leaving spacing around `:` as-is (unaffected) for now.

[2020-11-03 08:03] mglb commented on #556
I've added timestamps to script.sh. Results:
* Environment initialization takes < 1 min
* `bazel test` takes about 29 min
* `bazel build` runs until timeout.

See build log for more details: https://travis-ci.com/github/antmicro/verible/jobs/423717516

Running test and build in separate jobs solves the problem. Each job runs in parallel for 29 minutes: https://travis-ci.com/github/antmicro/verible

[2020-11-03 08:07] fangism opened #562 "[kythe] crash on `include directive with non-string-literal"
## Input test case

[code]

## Describe what is wrong or missing

Crashes:

[code]

Syntactically, the argument to include could be more complicated than a string literal; it could be other string concatenations and "advanced" preprocessing uses.

Suggest making it fail-safe, and ignore any time the right side is not a plain string-literal.

[2020-11-03 08:07] fangism commented on #562
b/171641284

[2020-11-03 08:39] fangism commented on #556
Thanks, I commented in the PR: can we try matching the `-c opt` for both build and test, for the sake of caching?

[2020-11-03 08:59] fangism commented on #452
Fixed by fd0316b055229c0b848bf86b6e1f4023cbb4ae5f

[2020-11-03 08:59] #452 closed

[2020-11-03 09:13] fangism commented on #451
Noting: this no longer crashes.

The code may be nonsense, but we should be able to handle macro calls in many places.

Suggest adding a test case like the following (or simplified):

[code]

where `` `c`` links to the defined `c`.  Recall that unlike C, SV macro references always begin with `` ` ``, so you always know you're looking at a macro.

[2020-11-03 09:31] fangism opened #563 "[kythe, refactoring]"
The Kythe extractor contains logic for handling a filelist, (root path, include search dir).  Think of this as a "project".

Task: Factor this out into its own class, so that it can be re-used with other multifile analyses (e.g. refactoring/renaming tools).

* Configures search paths for filelist files and include files.
* Loads all filelist files into memory "translation units" (accumulate diagno

[2020-11-03 09:32] fangism commented on #563
b/172255037

[2020-11-03 09:41] fangism commented on #563
suggested new location: verilog/analysis/verilog_project.h

[2020-11-03 12:29] MinaToma commented on #538
depends on #439

[2020-11-03 12:30] MinaToma commented on #515
depends on #437

[2020-11-03 20:13] #451 closed

[2020-11-03 20:13] #562 closed

[2020-11-03 20:13] #560 closed

[2020-11-03 20:41] fangism commented on #528
Just checking in, had any time to look into this, @DhairyaBahl ?

[2020-11-03 20:42] fangism commented on #526
@DhairyaBahl had any time to look into this?

[2020-11-04 00:02] #361 closed

[2020-11-04 05:32] DhairyaBahl commented on #528
@fangism I am extremely sorry for delay towards the issue. I will try my best to push a PR in a day or so.

Thank you :) sorry again :)

[2020-11-04 05:33] DhairyaBahl commented on #526
@fangism  I am extremely sorry for delay towards the issue. I will try my best to push a PR in a day or so.

Thank you :) sorry again :)

[2020-11-04 09:14] MinaToma opened #568 "Inconsistency in parsing pure virtual function"
**Describe the bug**

Function name identifier is wrapped inside `kDataTypeImplicitBasicIdDimensions` but should be inside `kFunctionHeader` node.

**To Reproduce**

[code]
**Actual behavior:**

Current CST:
[code]
**Expected behavior**

Add function header and re-shape the CST correctly for `pure function` and `extern function`.

[2020-11-04 09:18] MinaToma opened #569 "Inconsistency in pure task"
**Describe the bug**

The CST of `pure tasks` should contain a `kTaskHeader` node.

**To Reproduce**

[code]

**Actual behavior:**
Current CST:
[code]

**Expected behavior**

Re-shape CST for pure tasks to have `kTaskHeader`.

[2020-11-04 17:01] DhairyaBahl commented on #526
@fangism Work Update: I am trying to understand how verible works, about its various features to resolve this issue and to first understand the issue. I get that i have to change the color of the text or make it look more interactive but i am confused that how to change the colordiff if its installed by default in the system by the apt-get install commands. Kindly guide me a bit to how to approach

[2020-11-04 17:21] MinaToma opened #571 "Crash while parsing "E(node.Tag().tag) == expected_node_enum (kFunctionCall vs. kReference)""
**Describe the bug**

`verilble-verilog-syntax` crash on these two files and give `"E(node.Tag().tag) == expected_node_enum (kFunctionCall vs. kReference)`.

**To Reproduce**

run `verible-verilog-syntax` on:
- opentitan/hw/vendor/lowrisc_ibex/vendor/google_riscv-dv/src/riscv_instr_cover_group.sv
- uvm/distrib/src/deprecated/uvm_resource_converter.svh

Try the below case:

[code]

[2020-11-04 17:24] fangism commented on #568
Confirmed, I need to unpack `kDataTypeImplicitBasicIdDimensions` and re-pack it for consistency.

[2020-11-04 17:25] fangism commented on #569
Confirmed, thanks.

[2020-11-04 20:25] fangism commented on #526
The patch-tool is a small piece of the Verible project that is generic and only operates on patch files.

The top-level main file is https://cs.opensource.google/verible/verible/+/master:common/tools/patch_tool.cc
You only need to look downwards from here.

To build and run this:
* `bazel build -c opt //common/tools:verible-patch-tool`
* `./bazel-bin/common/tools/verible-patch-tool` _args..._
* `v

[2020-11-04 20:56] fangism commented on #571
Smaller test case:

[code]

So far I can see that this is tripping syntax error recovery due to the `` `_local `` token.

[2020-11-04 21:26] fangism commented on #571
Fix coming: recovering syntax error up to the first `endfunction`.

[2020-11-04 22:13] fangism commented on #571
The fix I have so far is good for the small test case, but the OpenTitan file:

https://github.com/lowRISC/opentitan/blob/master/hw/vendor/lowrisc_ibex/vendor/google_riscv-dv/src/riscv_instr_cover_group.sv

looks un-parse-able in many ways due to preprocessing macros.  (We don't have a preprocessor yet.)
I will see if I can prevent the crash nevertheless.

[2020-11-05 02:24] #571 closed

[2020-11-05 09:52] DhairyaBahl commented on #526
@fangism I am trying to build my verible-patch-tool but it is showing following error :
ERROR: Analysis of target '//common/tools:verible-patch-tool' failed; build aborted: Unable to find flex binary

I thought this error was occuring because output_user_root contains spaces so i passed commands with different output_user_root="" commands but everytime it says unable to find flex binary

Kindly gu

[2020-11-05 11:38] fangism commented on #526
Strange, bazel is supposed to know how to fetch/build/install `flex` for you automatically.
verible-patch-tool itself doesn't depend on flex, but other parts of verible do.

I wonder if this due to locally installed flex being an _indirect_ dependency through Kythe.
See all of its dependencies here https://kythe.io/getting-started/.

Try to `sudo apt-get install flex` and any other missing tool er

[2020-11-05 11:47] DhairyaBahl commented on #526
If i forgot to mention i would like to tell, I am on windows. Could that be an issue ?

[2020-11-05 12:28] DhairyaBahl commented on #526
@fangism So do i have to install all kythe dependencies individually or there is any other option to build the patch tool.

Thanks:)

[2020-11-05 14:20] MinaToma commented on #568
There is still some inconsistency.

CST for headers in pure functions:
[code]

CST for headers normal function:
[code]

`kParenGroup` at index `4` in `pure function header` and at index `5` in `normal function header`.
function identifier in `pure function` is within `kUntagged` node and not the header directly at index `4` like `normal function header`

[2020-11-05 14:27] MinaToma commented on #569
There is some inconsistency with normal task header:

CST for pure task header:
``
Node @1 (tag: kTaskPrototype) {
  Node @0 (tag: kTaskHeader) {
    Leaf @1 (#"task" @394-398: "task")
    Leaf @3 (#SymbolIdentifier @399-403: "disp")
    Node @4 (tag: kParenGroup) {
      Leaf @0 (#'(' @403-404: "(")
      Leaf @2 (#')' @404-405: ")")
    }
    Leaf @5 (#';' @405-406: ";")
  }
}
[code]
Node @0 (ta

[2020-11-05 17:15] fangism commented on #526
After installing `flex` is the flex binary in your `PATH`?  Can you run `flex --help`?

Is there any other clue where "empty string" is coming from?

I unfortunately have no experience building on Windows, but at least one contribution came from someone using Windows in the past.  You might have to reach out to one of the bazel users mailing lists for help.

[2020-11-05 21:09] fangism commented on #569
Fix underway.

[2020-11-05 21:16] #568 closed

[2020-11-05 23:33] #569 closed

[2020-11-06 05:07] fangism opened #573 "[dependencies] flex is depended on for build by verible (fetched) and kythe (local), reduce to one?"
Now that Kythe is a dependency of parts Verible, `flex` is depended on in two places:

* [Verible workspace](https://cs.opensource.google/verible/verible/+/master:WORKSPACE;drc=a0d9948afb99b17f9246031434d1c4f59971ac0d;l=90) -- fetched automatically
* [Kythe bzl file](https://cs.opensource.google/kythe/kythe/+/master:tools/build_rules/lexyacc/lexyacc.bzl) -- looks for local tool

I wonder if it is

[2020-11-06 05:57] fangism commented on #526
According to these files:
https://cs.opensource.google/kythe/kythe/+/master:tools/build_rules/lexyacc/BUILD
https://cs.opensource.google/kythe/kythe/+/master:tools/build_rules/lexyacc/lexyacc.bzl

It's looking for `/usr/bin/flex` or `FLEX` from environment variables, and similar for `/usr/bin/bison` as `YACC`.  Can you try something like `FLEX=/path/to/your/installed/flex YACC=/path/to/your/bison

[2020-11-06 09:46] fangism opened #574 "[kythe] automatic inter-file dependency detection"
Currently, the verilog-kythe extractor requires an input file list that is already dependency sorted, with symbol definitions always in earlier files than references.  This places the burden on the user to pass in such an ordered file list.  (The consequence of incorrect ordering now is just missing def/ref edges, but aside from that things should still work.).  Since we have the ability to constr

[2020-11-06 09:47] fangism commented on #574
blocked by #563

[2020-11-06 09:50] fangism commented on #574
This dependency information could also be used to optimize extraction in that only anti-dependencies of modified files have to be re-extracted (incremental extraction).  For low-latency on-the-fly re-indexing!

[2020-11-06 09:56] fangism opened #575 "[kythe] crash on `this` used as a function call name"
## Input test case

[code]

`this` is a SV keyword, like in C++.  (I'm not even sure this is syntactically valid.)

## Describe what is wrong or missing

Crash:

[code]

[2020-11-06 09:56] fangism commented on #575
b/172483027

[2020-11-06 10:00] fangism opened #576 "[kythe] crash on net declaration using keyword identifier"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

Crash:

[code]

[2020-11-06 10:00] fangism commented on #576
b/172496252

[2020-11-06 10:15] DhairyaBahl commented on #526
Yes I can run flex --help it is showing other possible flags like --version

I have no idea, i am working for the first time on bazel itself

Okay, I guess I should join the mailing list now !!

@fangism Thanks

[2020-11-06 10:20] DhairyaBahl commented on #526
I have set the environment variables for the system so that they can find flex. however I've also made it available for the mingw64 in its local bin directory !!

Should environment variable still be an issue ??

@fangism Thanks

[2020-11-06 10:36] fangism commented on #526
I don't really know myself, unfortunately.  The kythe project I referenced is at https://github.com/kythe/kythe -- they might have some idea about to control the locations of flex/bison.

I'm trying to think if there's a way for you to locally patch out the kythe dependency, because you don't need it for this task.
  Could you try commenting out lines 143-to-end of https://cs.opensource.google/ver

[2020-11-06 10:48] DhairyaBahl commented on #526
@fangism I tried and it worked, but now its showing new erro:

The target you are compiling requires Visual C++ build tools.
Bazel couldn't find a valid Visual C++ build tools installation on your machine.

Visual C++ build tools seems to be installed at C:\Program Files (x86)\Microsoft Visual Studio 14.0\\VC
But Bazel can't find the following tools:
    VCVARSALL.BAT, cl.exe, link.exe, lib.exe, m

[2020-11-06 17:14] fangism commented on #526
Ok, that's progress, I'm glad there some documentation to guide you.

[2020-11-06 19:18] #576 closed

[2020-11-06 19:18] #575 closed

[2020-11-06 21:01] msfschaffner opened #581 "Support for SV nettype"
**Summary**

The SV `nettype` keyword is currently not supported by Verible.
Since analog circuit models may sometimes contain this keyword, it would be nice if this was supported as well.

**Test cases and examples**

The more examples you provide, the easier it will be for someone to come along
and implement it.

[code]

**Additional context**

See also https://verificationacademy.com/forums/sys

[2020-11-06 21:01] msfschaffner commented on #581
b/172677968

[2020-11-06 21:02] msfschaffner commented on #581
CC @arnonsha

[2020-11-06 21:04] msfschaffner commented on #581
This came up in https://github.com/lowRISC/opentitan/pull/3952#discussion_r517198761

[2020-11-07 12:13] ivan444 commented on #526
We'll have to do something about those Kythe dependencies. The introduced complexity is not appropriate.

I'll address it together with reducing the c++ build requirements (lowering it from c++17 to c++11).

[2020-11-07 14:58] DhairyaBahl commented on #526
@fangism bazel needs some tools for which i have to install latest version of C++ redistributable build tools 2019 but my pc doesn't support it. It only support till 2015 version. What should i do ?? Is there any alternative to bazel ?? or any other way to build without using bazel then kindly tell me.

Thanks

[2020-11-07 16:53] fangism commented on #526
At this time we can only support bazel building, I'm afraid.  Thanks for trying.
If you're still stuck, feel free to un-assign yourself from issues, we totally understand.

[2020-11-08 03:20] svenka3 commented on #340
I would be thrilled to see an online Verible on its own site (without other commercial simulators, that complicates some end-users' use cases - I personally have heard many users saying that). On what else to add to such interface - how about a document generator (especially for SV/UVM) - similar to Doxygen/NaturalDocs. And a way to export/download formatted code (Consider user has code that's unf

[2020-11-08 04:02] mithro commented on #340
On the topic of documentation (which is mostly unrelated to verible), we are currently using [Sphinx](https://www.sphinx-doc.org/en/master/) for documenting our Verilog projects (which is very popular in the Python community). The [sphinx-verilog-domain](https://github.com/SymbiFlow/sphinx-verilog-domain) module adds Verilog / SystemVerilog support and it goes well with the [sphinxcontrib-hdl-diag

[2020-11-08 04:55] fangism commented on #340
Nevertheless, comment-based documentation extraction is a very reasonable feature set to ask for, do file a separate issue for that.  It could be further enhanced by our ongoing search index extraction project using Kythe as well.

[2020-11-08 04:58] fangism commented on #581
This is LRM-2017, section 6.6.7 User-defined nettypes.

[2020-11-08 06:23] svenka3 opened #582 "Feature request - add documentation extractor"
Hello,
  Based on a discussion on Issue - https://github.com/google/verible/issues/340

I would like to see a documentation extraction feature/tool.  For TB in SV/UVM, think of something similar to Doxygen/NaturalDocs for reference outputs. Adding UML diagrams, inheritance trees would be very handy - consider exporting PNG/SVG etc. for end-user document integration.

Thanks
Srini

[2020-11-08 22:09] renau commented on #260
I use m4/flex/bison with bazel (liveHD project) in linux/OSX using these rules.

https://github.com/jmillikin/rules_flex
https://github.com/jmillikin/rules_bison

As an example using the flex/bision/m4 when compiling yosys with bazel (LiveHD) (yosys uses flex/bison).
https://github.com/masc-ucsc/livehd/blob/e086c905d2216e87f15c6f8a9e4cedd873250811/external/BUILD.yosys#L52

[2020-11-08 22:52] mithro commented on #307
There might be some help looking at https://github.com/google/verible/issues/260#issuecomment-723673124 ?

[2020-11-09 01:18] fangism commented on #582
Thanks for filing this idea!  Some thoughts:

* We should be able to convert comments into documentation snippets, provided we establish how to "attach" comments to non-comments.  e.g. IIRC with Doxygen `///` comments apply to the next thing, and `///<` comments apply to the thing on the left.
* A lot of documentation can be generated (modules, ports, interfaces, types, inheritance) based on the e

[2020-11-09 01:23] fangism commented on #260
More notes: Here are the rules that the Kythe project uses for locally-installed flex/bison:

https://cs.opensource.google/kythe/kythe/+/master:tools/build_rules/lexyacc/BUILD
https://cs.opensource.google/kythe/kythe/+/master:tools/build_rules/lexyacc/lexyacc.bzl

This pushes the problem of dependencies like `m4` onto the user's package management system.

[2020-11-09 08:27] DhairyaBahl commented on #526
@fangism I will try one more time to install this package with bazel, if I failed then I will unassign myself :)

[2020-11-09 10:11] #437 closed

[2020-11-09 14:51] ivan444 commented on #582
Kythe has support for extracting documentation. I didn't explore it, but I guess you need a tool like Doxygen to provide you the annotations which you convert to Kythe facts.

I'm not aware of it. But playing with https://github.com/cayleygraph/cayley on top of the extracted Kythe facts might get you somewhere.

[2020-11-09 18:13] fangism commented on #536
This is done.
We've added flags `--file_list_path`, `--file_list_root` to decouple the effect of different base/working directories.
I've been able to test single-file extraction with these flags and `<(echo "one-file.sv")` for on-the-fly file lists.

[2020-11-09 18:13] #536 closed

[2020-11-09 19:29] #581 closed

[2020-11-09 20:30] fangism opened #584 "[CI] failing git-init on kythe repo"
After fixing #556, the next issue is related to Kythe as a dependency.

See this log:
https://travis-ci.org/github/google/verible/jobs/742535455

[code]

FYI @ivan444 .

[2020-11-10 09:28] tgorochowik commented on #556
@fangism should we still migrate the CI to github actions? It probably makes sense to do that to avoid similar issues in the future.

[2020-11-10 09:39] imphil opened #585 "[lint] Flag uses `disable fork_label;`"
**Summary**

Flag all uses of `disable` where it is different from `disable fork` as error.

Cadence recommends that disabling forks should be done using a `disable fork;` statement, not the `disable fork_process_label;` construct. The `disable fork_process_label` construct for forks is not defined in the IEEE Std 1800-2017 LRM. See section 9.6.2 of the LRM (2017).

**Test cases and examples**

Th

[2020-11-10 13:31] mithro commented on #556
@tgorochowik - Yes please move to GitHub Actions ASAP.

[2020-11-10 18:05] fangism commented on #585
Very doable.  The CST node in question here is a `kDisableStatement`, which is constructed [here](https://cs.opensource.google/verible/verible/+/master:verilog/parser/verilog.y;drc=84495fd0f7cd301c8d71f4beeea46a1432d3d79c;l=7024).  One just has to examine those nodes' `child[1]`.

@imphil Have a passage in your style guide that can be cited (in the diagnostic message)?

Suggest new rule class name

[2020-11-10 18:24] fangism opened #586 "[CI] migrate source indexing job to github-action"
This [kythe.sh script](https://cs.opensource.google/verible/verible/+/master:.github/kokoro/kythe.sh) is run after every commit to generate source code indexing data (uploaded to a cloud storage bucket).  Could/should we migrate this as well?  @mithro @kgugala

This job is currently failing at top-of-tree due to a system library version mismatch on `GLIBCXX_`.  Suggested remedy is to execute those

[2020-11-10 18:26] fangism commented on #547
Status: Currently, this is worked around in Verible's kythe extractor, the `branch` keyword (when used as an identifier) is ignored safely.

[2020-11-10 19:30] fangism commented on #548
Today we get:

[code]

So I believe this was fixed by https://github.com/google/verible/commit/259321c5bb95882d2ac872ca03de6c8d35fca733

[2020-11-10 19:30] #548 closed

[2020-11-10 19:57] fangism commented on #548
I'll update a test to cover this.

[2020-11-10 20:24] fangism opened #587 "[kythe] bug title"
## Input test case

[code]

## Describe what is wrong or missing

In the above test case, the reference to `Foo` is missing.
In general, the type being referenced could be anything.

More examples:

[code]

[2020-11-10 21:29] fangism opened #588 "[kythe] extract DPI imports function/task prototypes"
## Input test case

[code]

## Describe what is wrong or missing

`env_final` should have a binding as a function forward declaration (incomplete definition).

[2020-11-10 21:44] fangism opened #589 "[CST/AST Validation] Check syntax constraints specified by the LRM"
Today Verible's parser produces a CST that undergoes no validation.

These are checks that should be always-on because they are mandated by the LRM, not matters of style.  Yet, they can be implemented in any manner, like existing style lint rules, or in a separate CST validation pass -- as long as they produce consistent (machine-consumable and human-readable) findings and violations.

Some of the

[2020-11-10 22:03] fangism commented on #589
Ones that are most ready to implement are:

* Require no symbol resolution (what is this _name_), or at most use only local symbol resolution.
* Require no multi-file analysis.
* Require no expression evaluation.

The above example meets these criteria.

[2020-11-10 22:13] sriyerg commented on #585
Sorry, to clarify `disable some_label` is a valid SV construct. Its just that `some_label` should not be the label of a forked thread such as `fork begin: some_label ... end join_any disable some_label;`. That may not work as expected if the thread executing the `some_label` block forks off more child threads.

[2020-11-10 22:22] sriyerg commented on #585
Actually, its the `fork: some_label` .... `disable some_label;` that needs to be flagged. This is invalid according to the LRM.

[2020-11-10 22:30] fangism opened #590 "[kythe] linkify labeled statement blocks"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

Links between `dm_valid_handler` at `begin` and `end`.
Even when end-label is missing, `dm_valid_handler` still names that scope.

[2020-11-10 22:57] fangism opened #591 "[kythe] linkify named covergroups"
## Input test case

[code]

reduced from opentitan/hw/dv/sv/dv_lib/dv_base_env_cov.sv

## Describe what is wrong or missing

Links for `bit_toggle_cg` (definition, endgroup label, and reference from the sample function).

[2020-11-10 23:00] fangism opened #592 "[kythe] some macro-identifiers not linked"
## Input test case

[code]

source: opentitan/hw/dv/sv/dv_lib/dv_base_agent_cfg.sv

## Describe what is wrong or missing

Missing reference links for `` `uvm_object_utils_end `` and `` `uvm_object_new `` (These happen to be defined in the UVM library).

[2020-11-10 23:04] fangism commented on #480
Clarification: extends can only take one class, so `super` should resolve to that.
(Interface classes #535 are different.)

[2020-11-10 23:08] fangism opened #593 "[kythe] missing function/task endlabel links"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

The endfunction label `end_of_elaboration_phase` is missing a link to self.

The endtask label `run_phase` is missing a link to self.

[2020-11-10 23:18] fangism opened #594 "[kythe] handle constraint declarations"
## Input test case

[code]

## Describe what is wrong or missing

Missing anchor for `num_trans_c`.

[2020-11-10 23:30] fangism opened #595 "[kythe] linkify macro definitions' use of macro formal arguments"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

Formal arguments are `_type_name_` and `_inst_name_`.
Inside the definition body, **only** linkify those, because other names cannot be resolved without macro call-site context.

You will need to [recursively lex](https://cs.opensource.google/verible/verible/+/master:veril

[2020-11-10 23:56] fangism opened #596 "[kythe] linkify generate labels"
## Input test case

[code]

## Describe what is wrong or missing

Anchors/links for `aaa`, `bbb`, `ccc`.

Analogous to #590 for statement blocks.

[2020-11-11 00:23] fangism opened #597 "[kythe] linkify bind declarations"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

source: opentitan/hw/ip/pwrmgr/dv/sva/pwrmgr_bind.sv

## Describe what is wrong or missing

There are two forms:
1) targets a scope (module or interface declaration)
2) targets instance(s)

`pwrmgr` in the above example references a module declaration.
Everything else that follows is a module instantiation (on

[2020-11-11 07:16] MinaToma commented on #595
Maybe a duplicate of this one: #425
@fangism feel free to close one of them.

[2020-11-11 07:19] MinaToma commented on #593
Part of this issue: #439

[2020-11-11 07:50] fangism commented on #595
This one is slightly different, it is only about formal arguments.

[2020-11-11 07:52] fangism commented on #425
To do this, one will need to [recursively lex](https://cs.opensource.google/verible/verible/+/master:verilog/parser/verilog_lexer.h;bpv=1;bpt=1;l=73?q=RecursiveLex&ss=verible%2Fverible&gsn=RecursiveLexText&gs=kythe%3A%2F%2Fgithub.com%2Fgoogle%2Fverible%3Flang%3Dc%252B%252B%3Fpath%3Dverilog%2Fparser%2Fverilog_lexer.h%23C0nKQmC4ZWIOKHhkIfITTvWJi-cWnRTde95MvNDv1bI) the macro definition bodies, to fin

[2020-11-11 07:54] fangism commented on #595
Note that references to macro formal arguments look like `SymbolIdentifier` and `EvalStringLiteral` when recursively lexing inside macro definition bodies.

[2020-11-11 07:55] fangism commented on #593
Yes, just the first bullet of #439.

[2020-11-12 15:52] #476 closed

[2020-11-13 14:14] DhairyaBahl commented on #526
@fangism I am extremely sorry for inconvenience. I won't be able to solve this issue, because I am unable to solve the problem of bazel for the time-being. Thank you for your time and effort :)

[2020-11-13 17:49] fangism commented on #526
@DhairyaBahl Thanks for the update, and thanks again for trying.  Some day our build support for VS will improve.

[2020-11-13 18:24] fangism opened #604 "[kythe] localparams should define a binding, and have references"
## Input test case

Try to reduce the test down to a single demonstrative file.

[code]

## Describe what is wrong or missing

Currently missing bindings for `var1` and `var2`.

[2020-11-13 18:40] #540 closed

[2020-11-13 18:40] #545 closed

[2020-11-14 06:18] DhairyaBahl commented on #528
@fangism Thank you for your help and effort with me. I look forward to work with this project again. I am unassigning myself from this issue as well.

[2020-11-14 06:30] fangism commented on #528
Yes, we hope to see you back some day.

[2020-11-16 10:48] preusser opened #605 "always-ff-non-blocking rule wrongly flags assignments to locals"
**Summary & Example**

With the exception of loop headers, the [always-ff-non-blocking](https://github.com/google/verible/blob/73936a870a7948663cc1009cd8b36a40f3ebe69d/verilog/analysis/checkers/always_ff_non_blocking_rule.cc#L56) currently flags all blocking assignments in an `always_ff` block regardless of the nature of the targeted variable. This disallows structuring non-trivial computations in

[2020-11-16 11:14] fangism commented on #605
Good point!  @snsokolov What do you think?

[2020-11-16 12:03] preusser opened #606 "always-ff-non-blocking rule fails to flag modifying assignments as well as unary increments & decrements"
**Summary**

The [always-ff-non-blocking](https://github.com/google/verible/blob/73936a870a7948663cc1009cd8b36a40f3ebe69d/verilog/analysis/checkers/always_ff_non_blocking_rule.cc#L56) rule currently only flags basic assignments using the `=` operator. Blocking assignments using modifying assignment operators or unary increments and decrements evade an enforcement.

** Example **

[code]

**Proposa

[2020-11-16 17:24] fangism commented on #606
I concur.  Just needs catch more cases in https://cs.opensource.google/verible/verible/+/master:verilog/analysis/checkers/always_ff_non_blocking_rule.cc.

[2020-11-16 19:52] snsokolov commented on #605
The style of locally declared automatic variables inside always_ff is rarely used. I think we recommend explicitly declaring these as nets and combinational logic outside of always_ff blocks. Let me ask this internally.

[2020-11-16 21:23] preusser commented on #605
This would be a recommendation against tight scoping. And even if so, the proposed modification would not invalidate such a style.

[2020-11-17 01:09] snsokolov commented on #605
Hi Thomas,

I checked internally and confirmed that for various reasons (risk of inferred latch is one of them I think) our internal style guide explicitly prohibit mixing any (especially non-trivial) combo logic with sequential logic within the same a sequential block. And I don't think we would change this guidance.

By the way, what about waveforms? Is this okay from debuggability standpoint th

[2020-11-17 01:24] fangism commented on #605
While we may not be in a good position to change the existing rule, we're not opposed to anyone making a different version of the rule that grants exceptions like the proposed to fit your own style guide.  (Someday making them configurable variants of the same rule.). That being said, the exception requested requires technically:

* More bookkeeping for what constitutes local variables to represen

[2020-11-17 06:32] preusser commented on #605
@snsokolov:
- As `automatic` variables do not retain their state between block invocations, they *cannot* imply latches.
- I would even claim that latches are not created from improper sequential but rather from improper combinatorial logic.
- Yes, observability is reduced for local variables as you are moving from a strictly structural to a more behavioral description. We do not advise to bury co

[2020-11-17 06:43] fangism commented on #605
Sure, if you have code for a new rule already, we can review it, send a pull-request.  For style lint rules, we usually encourage a discussion around proposed test cases first.

[2020-11-17 10:06] fangism commented on #584
Could this be a matter of making sure `git` is installed on the executor?  (Bazel is invoking git as a means of fetching a repo.)

[2020-11-17 16:25] ivan444 commented on #584
Most likely. Kythe is introduced as git_repo, not http_repo.

On Tue, Nov 17, 2020 at 11:07 AM David Fang <notifications@github.com>
wrote:

[2020-11-17 18:41] fangism commented on #584
@kgugala @wtatarski Have some bandwidth to investigate?

[2020-11-17 18:58] wtatarski commented on #584
@fangism I installed some lacking dependencies but now I see that some libs are outdated:
https://github.com/antmicro/verible/runs/1413572108?check_suite_focus=true
So I guess here is some work to do.

[2020-11-17 19:02] fangism commented on #584
Other test scripts we have use bazel 3.7.0.

https://cs.opensource.google/search?q=BAZEL_VERSION&sq=&ss=verible%2Fverible

[2020-11-17 19:03] ivan444 commented on #584
Maybe a simpler approach would be to integrate Kythe in a different way. We
don't need all of it.
But I don't have a concrete proposal at the moment.

On Tue, Nov 17, 2020 at 7:58 PM Wojciech Tatarski <notifications@github.com>
wrote:

[2020-11-17 21:52] mithro commented on #584
Doesn't #603 obsolete this issue?

[2020-11-17 21:53] mithro commented on #584
IE - As #603 is merged, Travis-CI is no longer being run.

[2020-11-17 22:11] fangism commented on #584
This same problem occurs on github action, so I'll update the title.

[2020-11-17 22:14] fangism commented on #584
Example recent log:
https://github.com/antmicro/verible/runs/1411135012?check_suite_focus=true

[2020-11-18 13:36] mithro opened #610 "CentOS 7 unable to build due to Flex too old (2.5.37 < 2.6)"
The following error is causing CentOS 7 (and probably CentOS 6) build to fail;
[code]

[2020-11-18 13:38] mithro opened #611 "/usr/include/c++/5/bits/stl_pair.h:108:26: note: candidate expects 0 arguments, 2 provided"
The following error is causing Verbile to not build on Ubuntu Xenial;
[code]

[2020-11-18 13:38] mithro commented on #611
@hzeller -- Any idea?

[2020-11-18 19:11] wtatarski commented on #611
@mithro  try to install gcc-7 and g++-7. It worked on my PR.

[2020-11-18 19:33] fangism commented on #611
This line numbers are a little off, but I think this is coming from the `emplace` call here:

https://cs.opensource.google/verible/verible/+/master:common/util/subcommand.cc;bpv=1;bpt=1;l=64?gsn=RegisterCommand&gs=kythe%3A%2F%2Fgithub.com%2Fgoogle%2Fverible%3Flang%3Dc%252B%252B%3Fpath%3Dcommon%2Futil%2Fsubcommand.cc%23YYdzeZJvf-rXeM3FY64I6pXTp8ReRf4sD3UprqjccAI&gs=kythe%3A%2F%2Fgithub.com%2Fgoogle

[2020-11-19 00:21] fangism commented on #556
All former Travis-CI actions have been migrated to github actions.

[2020-11-19 00:21] #556 closed

[2020-11-19 04:32] #610 closed

[2020-11-19 08:56] fangism commented on #586
With #608 in, is it now possible to use one of our generated Docker images to kythe-index C++ sources, instead of whatever is currently on the kokoro executor?

[2020-11-20 11:32] #611 closed

[2020-11-20 22:11] fangism commented on #230
@imphil @tgorochowik in you're interested in exporting Verible's syntax trees and related data to another language.

It should be pretty easy to emit python syntax for the CST directly from C++ as well.  (You'll probably want node/leaf enumerations as well.)

[2020-11-23 04:44] fangism commented on #230
Simple idea: make a variant of `--printtree` that writes out the tree in python object notation:

[code]

Also provide an enum class with those constants, as generated from verilog_nonterminals.h.:

[code]

For the tree leaves, we have a few options: emit strings or byte-offset pairs to denote substring ranges within the larger source text.

In python, read in these forms and `eval()`.

From there

[2020-12-02 02:06] svenka3 opened #617 "Data type check in function arguments"
**Summary**
Recently found this on OpenTitan, see:

https://github.com/lowRISC/opentitan/issues/4355#issuecomment-736782490

Wondering if this will be caught in Verible using existing rules.

**Test cases and examples**

Is there a running version of OpenTitan in Verible that I can try out at my end?

Code snippet is available on https://github.com/lowRISC/opentitan/issues/4355#issuecomment-736782

[2020-12-02 02:09] svenka3 opened #618 "Verible - policy/rule-set for UVM migration"
**Summary**

Based on an ongoing porting of OpenTitan across simulators, we are finding some interesting issues on compatibility. Wondering if we can extract a rule-set/policy and make it part of Verible add-ons to say:

SIM-1 to SIM-2 migration style check

Any thoughts on how this can be approached in Verible context please?

[2020-12-02 05:35] fangism commented on #617
Verible is a still quite a ways off from being able to do semantics that require elaboration.  Type/width checking will have to come after symbol-binding (we have a small start in the way of source code indexing), and preprocessing.  I believe Verilator comes with many semantic linting capabilities.

[2020-12-02 05:46] fangism commented on #618
Today, Verible is capable of doing syntax-based checking, but is missing semantics -- if you find a particular language feature risky enough to ban, and it is detectable as a matter of syntax, Verible is up to the task.  As other SIM-tools improve over time, the compatibility matrix may also change.

I would however recommend getting involved with https://symbiflow.github.io/sv-tests/ to contribut

[2020-12-02 10:58] svenka3 commented on #617
OK, will close this ticket.

[2020-12-02 10:58] #617 closed

[2020-12-02 10:59] svenka3 commented on #618
Thanks, yes am starting to add tests that wonderful sv-tests repo.

Cheers,

[2020-12-02 10:59] #618 closed

[2020-12-02 17:50] mithro commented on #617
https://github.com/alainmarcel/Surelog might be able to do what you want.

[2020-12-02 17:58] mithro commented on #618
Just FYI - https://github.com/alainmarcel/Surelog might be able to do more complicated checks (and Google is also helping fund the project). It however is significantly slower and more complex than verible.

[2020-12-04 19:00] mithro opened #619 "Releases seem to be broken"
It seems like the uploading github releases is not working.

[2020-12-04 19:09] fangism commented on #619
Is this related to the kokoro-kythe faillures?

[2020-12-04 19:14] mithro commented on #619
I think is caused by the Travis -> GitHub actions move...

[2020-12-04 19:15] mithro commented on #619
All the released files seem to be uploading to the latest release -- https://github.com/google/verible/releases

[2020-12-04 19:16] mithro commented on #619
![Screenshot from 2020-12-04 11-16-12](https://user-images.githubusercontent.com/21212/101205141-286dbb00-3622-11eb-960a-6ab5e7e777b1.png)

[2020-12-04 19:20] fangism commented on #230
Thanks for working on this @tgorochowik @mglb

[2020-12-04 23:14] mithro commented on #619
* https://github.com/marketplace/actions/create-a-release
 * https://github.com/marketplace/actions/upload-a-release-asset

[2020-12-04 23:27] mithro commented on #619
We should probably be using one of the two more standard github actions for uploading a the releases. I'm unsure why we are using https://github.com/svenstaro/upload-release-action

https://github.com/google/verible/blob/b74ff0df4ae9e9d0457cefaa3e6774f4b1251d6f/.github/workflows/verible-ci.yml#L85-L93

[2020-12-05 01:12] mithro commented on #619
The issue is https://github.com/google/verible/blob/b74ff0df4ae9e9d0457cefaa3e6774f4b1251d6f/.github/workflows/verible-ci.yml#L91

`${{ github.ref }}` converts to `master` rather than the newly generated tag version.

[2020-12-05 01:21] umarcor commented on #619
Is the purpose the following?

On sucess:

- Create a git tag.
- Push the tag to the repo.
- Create a release pointing to that tag.
- Upload some assets to the release.

[2020-12-05 01:37] mithro commented on #619
Pretty much.

What I don't understand is how the `$TRAVIS_TAG` value ended up being `# Create a tag of form v0.0-183-gdf2b162-20191112132344`

[2020-12-05 01:38] mithro commented on #619
`git-describe` would produce the `v0.0-183-gdf2b162` part and the number comes from when the travis job was scheduled...

[2020-12-05 01:44] mithro commented on #619
Looking at all the releases listed, as far as I can tell the date part has never worked.....

[2020-12-05 21:18] mithro opened #621 "Generate the list of GitHub release CI jobs automagically rather than hard coding in the workflow"
I believe it is possible to have a GitHub Action generate follow up GitHub Action steps. It would be nice if the GitHub Action for building releases just understood the currently supported releases rather than requiring the workflow to be updated.

[2020-12-05 21:18] mithro commented on #621
I believe @umarcor might know how to do this.

[2020-12-08 07:07] umarcor commented on #621
So, yes and no. It is possible to generate/execute a set of tasks and wrap them in collapsible log blocks. See, for instance, step "*Build and test GHDL in containers*" in https://github.com/ghdl/ghdl/runs/1515138857?check_suite_focus=true or the test script in fomu-workshop: https://github.com/im-tomu/fomu-workshop/runs/1509392137?check_suite_focus=true#step:10:8. However, AFAIAA it is not possib

[2020-12-08 07:39] tgorochowik commented on #621
You can generate the matrix programmatically and then use it to generate jobs dynamically:
See this as an example: https://github.com/alainmarcel/uhdm-integration/blob/master/.github/workflows/main.yml

One thing to note is that there is a limit of 256 jobs per matrix.

[2020-12-08 07:58] umarcor commented on #621
@tgorochowik I was not aware of that. Thanks a lot for the reference!

[2020-12-08 17:43] #619 closed

[2020-12-08 18:29] mithro opened #625 "Build broken with "go_register_toolchains() got unexpected keyword argument: version (did you mean 'go_version'?)""
[code]

[2020-12-08 18:59] fangism commented on #625
@ivan444 FYI.
For reference current top-of-tree of that file is
https://github.com/bazelbuild/rules_go/blob/master/go/private/sdk.bzl

and contains:

[code]

There are some newer releases at https://github.com/bazelbuild/rules_go/releases, I'll try some of those in our WORKSPACE file.

[2020-12-08 20:06] #625 closed

[2020-12-08 20:35] mithro commented on #619
Looks like after #625 was fixed, this change started working! https://github.com/google/verible/releases
![Screenshot from 2020-12-08 12-34-57](https://user-images.githubusercontent.com/21212/101538347-d1355680-3951-11eb-91a1-8e7f6f64236b.png)

[2020-12-08 20:38] umarcor commented on #619
@mithro, remember to remove tag 'master' and that release with 142 assets.

[2020-12-08 22:33] #621 closed

[2020-12-08 23:22] fangism opened #627 "[CI] only Centos8 is failing tar archiving"
See https://github.com/google/verible/runs/1520501401 for example

[2020-12-08 23:25] fangism opened #628 "[CI] failing to git push to gh-pages during deployment"
See https://github.com/google/verible/runs/1520499914

[2020-12-08 23:40] mithro commented on #627
`2020-12-08T23:02:24.4735337Z [91m/out//verible-v0.0-800-gdc6e959-CentOS-8.3.2011-n/a-x86_64.tar.gz: Cannot open`

[2020-12-08 23:41] mithro commented on #627
Issue is the `n/a` in the output.

[2020-12-09 00:02] mithro commented on #627
Can repo locally;
[code]

[2020-12-09 00:03] mithro commented on #627
I think the cause is `DISTRO_CODENAME=$(lsb_release --short --codename)`

[2020-12-09 00:03] mithro commented on #627
https://github.com/google/verible/blob/5c342396f15e6e0df787dc2ebc7a3986f8640706/.github/workflows/github-releases-setup.sh#L57

[2020-12-09 08:24] tgorochowik commented on #628
BTW I noticed that Verible is using a third-party action to do the gh pages deploy. This is not really needed, you can re-use the git credentials from the checkout action, see here:
https://github.com/antmicro/verilator-dynamic-scheduler-tests/blob/54aa63e22f91ab30877476949b80a0164dde8022/.github/workflows/test.yml#L60-L75

This way you don't even have to use the tokens and the privileges are inhe

[2020-12-09 15:30] #627 closed

[2020-12-09 18:21] mithro opened #630 "Add build badges to README"
- https://medium.com/better-programming/add-badges-to-a-github-repository-716d2988dc6a
 - https://github.com/badges/shields
 - https://github.com/dwyl/repo-badges
 - https://efficientuser.com/2019/09/12/add-some-cool-badges-in-your-github-repo/
 - https://www.freecodecamp.org/news/how-to-use-badges-to-stop-feeling-like-a-noob-d4e6600d37d2/

[2020-12-10 03:16] mithro opened #632 "rule cannot be matched in verilog/parser/verilog.lex"
[code]

[2020-12-10 05:20] fangism commented on #586
This will be fixed by #631

[2020-12-10 05:21] fangism commented on #632
b/129810384

[2020-12-10 17:55] mithro commented on #586
There is still a little more work to make the GitHub action upload the kzips to somewhere that codesearch and fetch them from (GCP).

[2020-12-15 01:15] #530 closed

[2020-12-17 00:43] #353 closed

[2020-12-17 00:47] hzeller commented on #260
Looks like I can compile it with clang (on Linux) by manually setting the necessary link option for clang. However, I don't know enough bazel-fu to make this toolchain-dependent (i.e. only setting this when clang is in use)

[code]

Then, compiling and testing works with clang:
[code]

@fangism can you test if this will make it work on MacOS ?

[2020-12-18 02:27] fangism commented on #383
Just checking in, what's the current status of this PR?

[2020-12-18 04:06] omarahmed1111 commented on #383
Just need to add some tests for the helper functions and I will update it hopefully this week. Apologies for late updates as i have some issues the past weeks.

[2020-12-25 16:30] rachitnigam commented on #260
@hzeller I attempted to build on Mac with your patch. I get the same error message that @Alex-Mann got:

[code]

I assume that this is a problem with building m4.

[2020-12-29 23:24] rdburns commented on #192
I have it working with Emacs via FlyCheck, and here is the config:
[code]

[2020-12-30 00:27] fangism commented on #192
@rdburns Thanks for the emacs tip!
If you pass `-` as a file name to `verible-verilog-lint` that will read from stdin.
Does that help you avoid the temporary file?

[2020-12-30 01:30] rdburns commented on #217
There is a somewhat easy way to deal with this.

At the top of a module file, you should set
[code]
This will cause an undeclared net to trigger a real error in whatever tool the user is using.

A caveat: once you do this, any i/o wire have to be declared explicitly (many people just write ```input somesig```, and that takes advantage of the default nettype being wire).

A 2nd caveat: The default

[2020-12-30 02:34] rdburns opened #635 "Report unused net declarations"
**Summary**

It would be helpful if the linter could flag net declarations that are never used in the module.
Suggest: `[unused-net-declaration]`

**Test cases and examples**

The more examples you provide, the easier it will be for someone to come along
and implement it.

[code]

[code]

**Proposal**

🤷‍♂️

**Additional context**

Helps people clean dead code clutter.

[2020-12-31 17:21] fangism commented on #635
I have some ongoing symbol table work that will make this analysis very easy.

[2021-01-05 09:03] snsokolov opened #636 "Issues with google.github.io/verible/ web page"
1. https://google.github.io/verible/AUTHORS.html is not properly formatted. It looks like the txt file is [just copied](https://github.com/google/verible/blob/c853a75ad833883506b8205d2229ad37831e84cc/.github/workflows/github-pages-setup.sh#L36) into and md file. The file content needs to be wrapped with ``` before making it an MD file.
2. Link to [SV tests](https://symbiflow.github.io/sv-tests/) i

[2021-01-05 19:24] snsokolov commented on #636
5. Also many broken links at https://google.github.io/verible/README.html
https://google.github.io/verible/verilog/parser
https://google.github.io/verible/verilog/tools/lint
https://google.github.io/verible/verilog/tools/diff
etc.

[2021-01-05 19:53] fangism commented on #636
In general, we could use some form of generated-documentation validation that includes link checking (best if this is possible before actually pushing a commit, and verified in a staging environment).

[2021-01-05 22:14] snsokolov commented on #636
Not committing yet, but I'll try to take a look at it this week. Unless someone else wants to fix that.

[2021-01-05 23:26] mithro commented on #636
FYI - I just threw together the quickest possible solution to get *something* going.

Long term all our system verilog related hardware projects are using Sphinx (https://www.sphinx-doc.org/en/master/) with ReadTheDocs (https://readthedocs.org/) and a bunch of custom extensions like http://sphinxcontrib-verilog-diagrams.rtfd.io/ -- a super example is the Verilog to Routing documentation at https:/

[2021-01-06 04:49] #383 closed

[2021-01-06 19:37] hzeller commented on #260
mmh, let's drill down to m4 specifically and see what we get. Can you try the following (after applying the patch) @rachitnigam ?

[code]

[2021-01-06 19:42] rachitnigam commented on #260
I get:
[code]

[2021-01-06 19:51] hzeller commented on #260
This looks like you might need to install `libtool` and possiblye `autoconf`.
On MacOS, this is probably `brew install libtool` ?

[2021-01-06 19:54] rachitnigam commented on #260
I already have them installed (I found [this github issue](https://github.com/protocolbuffers/protobuf/issues/5426) when trying to fix this)  :
[code]

[2021-01-06 20:01] rachitnigam commented on #260
It's worth noting that `brew install libtool` defines the `glibtool` alias (since it conflict's with Apple's `libtool`):
[code]

I also tried running the bazel command with `alias libtool = glibtool` but no luck.

[2021-01-06 20:07] hzeller commented on #260
So it looks like that the `local_config_cc` has trouble dealing with the libtool somehow. Hard to tell what is going on remotely; did you see anything interesting in the logs ? For instance, it would be good if bazel left behind the `config.log` generated by the configure script, but not sure if it does.

[2021-01-06 22:44] rachitnigam commented on #260
I don't see `config.log` unfortunately. Is there a way to force bazel to generate/save that file?

[2021-01-08 22:02] caryr opened #637 "`begin_keywords directive not changing keywords correctly."
The `begin_keywords directive is parses correctly, but it does not appear to change the valid keywords and this is causing a number of the test from ivtest in the sv-tests framework to fail. There are other failures that also appear to point to different bugs in verible, but I think it is easier to work on this as divide and conquer and this looks like the largest failure bucket. As far as I know

[2021-01-08 22:23] fangism commented on #637
Thanks for the report, and for testing!
I can confirm we do nothing with most directives at this time.
Almost zero semantics are implemented right now, as they were not the focus of early tools.

[2021-01-10 22:02] mithro opened #638 "Create a "current users" type section"
It would be good to have a page / section in the README about who is currently using Verible.

[2021-01-10 22:03] mithro commented on #638
Also tools which integrate with Verible like super linters and IDEs.

[2021-01-10 22:03] mithro commented on #638
See https://github.com/a2k-hanlon/linter-veriloghdl/issues/1 for example.

[2021-01-11 12:59] zegervdv opened #639 "Structure literal formatting issues"
**Test case**

[code]

Include any options or configuration used.

Using default options: `verible-verilog-format -inplace test.sv`

**Actual output**

[code]

Include any possible diagnostic messages from the formatter.

**Expected or suggested output**

[code]

I'm seeing multiple issues with structure literals, which seem to have gotten worse somewhere since version `v0.0-589-g876c18b`.
I am us

[2021-01-11 16:38] fangism commented on #639
Nice test case.  It is know that the wrapping implementation needs a lot of work.
@ldalek-antmicro FYI

[2021-01-14 23:06] hzeller opened #645 "Create distribution packaging (Debian, RPM)"
Right now, we're buliding tar.gz of a release, but providing a packaging that is native for a particular system might be easier in typical circumstances.

Implementation: either write some configuration files to use the native debian/redhat build system, or consider a bazel target:

https://github.com/bazelbuild/rules_pkg/releases

(also: source packages ?)

[2021-01-22 11:57] tgorochowik commented on #284
@fangism @hzeller

@mglb is currently looking at this issue. Would you mind adding him to the repo so he can assign himself?
The same goes for @pawelsag who is currently working on other issues in Verible

[2021-01-26 20:29] #344 closed

[2021-01-26 20:31] msfschaffner opened #652 "Syntax errors in SVA properties"
The reduced testcase below fails with the following syntax errors:
[code]

[code]

Verible version:
[code]

I came across this in the OpenTitan DV code, and it would be great if this could be parsed correctly.

[2021-01-26 20:40] msfschaffner commented on #652
b/178507780

[2021-01-27 17:25] hzeller opened #653 "Add clang-format and clang-tidy check in pull requests"
Let's add another check to the presubmit checks: run all modified/new c++ files through `clang-format --style=Google` and report back if there is a diff. Similarly `clang-tidy` (need to figure out all useful options).

Show a diff and ask the user to run clang-format/clang-tidy locally on the code and update the pull request in that case.

(We have to report and can probably not update the pull re

[2021-01-27 17:39] hzeller opened #654 "Run code coverage tool on pull request"
It would be good to have an overview about test coverage of new code and display in a usable format (e.g. code lines highlighted with green/red if they have been covered by tests).

Multiple steps are involved here

 - [ ] Evaluating various services and finding one that provides that. Maybe we can generate the data already at CI build time (`gcov`) and just need to generate HTML output that is du

[2021-01-27 17:43] hzeller commented on #653
But maybe we could just run `clang-format` as a hook at time of merge ? That way, we don't have to bother the contributor with an insignificant technicality (we could still make this a pull request check, but not a merge-blocking one).

In the past operating model we were actually [doing this](https://github.com/google/verible/blob/b343939bb233786cca3469134c414ca40312fdfc/CONTRIBUTING.md#style), b

[2021-01-27 17:44] #525 closed

[2021-01-27 17:58] hzeller opened #655 "Check for and update header dependencies to build rules"
Whenever including a header file, one should add the corresponding library dependency in the BUILD file. Often, bazel is able to compile things 'accidentally' if not, but we should make sure to keep the build-file dependencies up.

here is a starting point
https://github.com/bazelbuild/bazel/issues/6871

Here is a tool that finds unused dependencies
https://github.com/bazelbuild/buildtools/blob/ma

[2021-01-27 18:33] mithro commented on #653
@hzeller -- I believe there are github actions that can be set up which will add a patch onto people's pull requests with the reformatting (or maybe just a set of suggestions?).

[2021-01-27 18:33] mithro commented on #653
@umarcor -- Thoughts?

[2021-01-27 20:12] cxcxcxcx opened #657 "Code under else if is folded into comments."
**Test case**

[code]

Include any options or configuration used.

**Actual output**

[code]

[2021-01-28 04:38] umarcor commented on #653
It is technically possible to have a GitHub Actions workflow/job which interacts with either git or the GitHUb API for:

- Editing the original message in the PR.
- Posting a comment in the PR, or editing an already posted comment by the bot.
- Committing to the PR or to any other repository anywhere.

However, the scope of the default token is limited, and it does not suffice for pushing commits

[2021-01-28 17:49] mithro commented on #653
BTW -- GitHub has a way to "suggesting" changes in a comment that the owner of the pull request can accept.

[2021-01-28 18:17] umarcor commented on #653
It has. However, I think that each suggested change is saved as a different commit. It makes squashing almost a requirement... I find it desirable instead for CI to fail and contributors to run formatting locally.

[2021-01-28 18:27] hzeller commented on #653
Yes, I think having a simple CI test that fails will be a simple and robust way to deal with this. It also allows the contributor to do everything on their machine with a one-liner which is much more comfortable than clicking many buttons in a browser.

[2021-01-29 03:38] hzeller commented on #585
So to clarify, a label that is applied to a _fork_ must not be used later in `disable`, but regular use of `disable` on some other label even in a block nested in the fork would be allowed.

[code]

would not be valid. But

[code]

Correct ?

[2021-01-29 04:03] hzeller commented on #657
Good find. Luckily the formatter will make sure to fail-safe and _not_ modify the file when it discovered the discrepancy.

We can reduce that even further; it is not necessarily the 'else' part, but just the fact that a single line 'block' is spanning multiple lines of which there is an end-of line comment is then folded into a single line:

[code]

(the diagnostic output then shows that it would

[2021-01-29 04:46] cxcxcxcx commented on #657
I agree this is not good practice and it's a good idea for linter to
complain.

And, I feel a formatter should be robust to such cases. The code itself is
not ambiguous.

If it were not the checker, the problem also sounds very scary.

In fact, I think it works when there are multiple lines of comments. One
line comment is when it fails.

Henner Zeller <notifications@github.com> 于 2021年1月28日周四 20:

[2021-01-29 06:51] sriyerg commented on #585
Yes that is correct.

A label applied to any sequential code block _regardless of where they appear_ can be disabled. All constructs that use `begin..end`, such as if, for, while, do, repeat, forever etc. are sequential code blocks. They all can be disabled with the `disable <label>;` statement. This is equivalent of executing the `break` where you immediately exit the code block by skipping the r

[2021-02-04 07:54] hzeller commented on #653
`clang-format` is covered. Remains `clang-tidy` to run on a pull request.
For this, `clang-tidy` needs a [compilation database](https://clang.llvm.org/docs/JSONCompilationDatabase.html), essentially containing compiler invocation parameters for the files involved.

It looks like [bazel]() does not support this (yet?) natively (I think), but there is some  IDE integration https://blog.bazel.build/2

[2021-02-05 14:52] tgorochowik commented on #653
BTW Verilator does this, it creates an extra commit:
https://github.com/verilator/verilator/blob/36eb952b60239e0f42a055622b8273cabc6e1c84/.github/workflows/clang-format.yml
I think the permission problem is solved if such commits are pushed after the PR is merged (so creating PRs from different organizations is not a problem)

This is probably not the prettiest solution due to a bunch of reformatt

[2021-02-05 19:33] y-kim opened #671 "Inconsistent behavior between the diff and the formatter for macro substitution"
**Describe the bug**

Considering #278, the formatter try to keep position of semicolon after macro substitution. In addition, the diff tells that designs are different depending on the position of the semicolon (same line or next line)

However, two examples at top and bottom in the issue lexically same after the macro is substituted.

In general, there is no difference in semantic when a code bl

[2021-02-08 11:17] y-kim opened #672 "continuous is not member of SystemVerilog keywords"
**Describe the bug**
Identifier name "continuous" is rejected from the parser.

**To Reproduce**

[code]

**Actual behavior:**

[code]

**Expected behavior**

No syntax error.

A clear and concise description of what you expected to happen. Citations to the
[SystemVerilog-2017 Standard (LRM)](https://ieeexplore.ieee.org/document/8299595)
would help.

[2021-02-08 16:51] fangism commented on #672
This is from Verilog-AMS.
https://www.accellera.org/images/downloads/standards/v-ams/VAMS-LRM-2-4.pdf

We don't have good dialect control yet.

[2021-02-09 15:51] pawelsag commented on #384
Hi, I wanted to solve this issue, but I have a question related to the example you wrote.
I can't find any information about C-style string in TRM, so this is some kind of SystemVerilog dialect?
Does this also mean that when doing this task the implementations of the parser should be changed?
I prepared the example:
[code]
and the output was
[code]

[2021-02-09 20:21] snsokolov commented on #384
The C-style string joining above isn't a legal Verilog.  Strings can be concatenated by either by using `{}` or `$sformatf`

[code]

[2021-02-09 22:27] pawelsag commented on #384
Thanks for the clarification

[2021-02-11 20:14] #384 closed

[2021-02-16 20:00] msfschaffner opened #676 "Syntax errors due to preprocessor `else macro"
The snipped below fails with the following error due to the `else` preprocessor macro, although the code should be valid.
[code]

Test case:

[code]

Verible version:
[code]

[2021-02-16 20:03] msfschaffner commented on #676
b/180420486

[2021-02-17 00:32] #605 closed

[2021-02-17 00:32] #606 closed

[2021-02-20 03:52] SeanMcLoughlin commented on #528
Hey, this sounds interesting. Although, I'm not entirely sure what the ask is here. Do you want a tool that can generate before/after formatting images, or generate a GIF of doing formatting, regardless of the input text?

Or do you simply want a GIF that demonstrates how before and after formatting looks on some basic file? I'd imagine this would be a GIF you would add to the README.

If it's the

[2021-02-21 06:36] Jacob-Levy commented on #676
% /usr/local/opentitan/tools/verible/0.0-883-g2af116e/bin/verible-verilog-lint gen_pok.sv
../ip_os/ast/rtl/gen_pok.sv:14:1: syntax error, rejected "`else" (syntax-error).
../ip_os/ast/rtl/gen_pok.sv:25:1: syntax error, rejected "assign" (syntax-error).
../ip_os/ast/rtl/gen_pok.sv:36:1: syntax error, rejected "always" (syntax-error).
../ip_os/ast/rtl/gen_pok.sv:39:3: syntax error, rejected "end" (s

[2021-02-21 06:47] Jacob-Levy commented on #676
Also fails on the following code...

[code]
[code]

[2021-02-21 09:13] fangism commented on #528
Hi, the useful artifacts for this project are:

* before/after formatting text as images (e.g. PNG) or vector graphics (SVG) -- these are just still frames for animation (so this is .txt -> .png)
* a script or workflow for assembling those images into an animation (GIF or similar)

It need not be a terminal or session recording (though asciicinema looks cool).

The image could be used in any numbe

[2021-02-22 02:15] fangism commented on #676
Confirmed and acknowledged. as a known limitation  The current parser implementation lacks a separate preprocessing step, and attempts (best effort) to _parse_ preprocessing directives and construct a syntax tree that includes them, so if a preprocessing conditional does not cleanly surround a "whole" language element grammar construct (e.g. module declaration, module instance), then it will fail

[2021-02-26 00:46] hzeller opened #689 "TokenStreamLintRule crashes on ternary expression."
**Describe the bug**

A simple file with a ternary expression assigning a string

[code]
... will crash the linter in the `TokenStreamLintRule`

[code]

Disabled the rule in #688 for now, so it will not crash at head. Pawel, since you implemented it, can you have a look, at a test-case and fix ?

[2021-02-26 01:11] mglb opened #690 "[kythe] File nodes generated by verible-verilog-kythe-extractor should have empty "language" field."
## Input test case

`sample_sources/example.sv`:

[code]

`sample_sources.list`:

[code]

Shell:

[code]

Output:

[code]

(full script for reproducing and testing the problem below)

## Describe what is wrong or missing

TL;DR: Decorations are not generated. [Kythe documentation](<https://kythe.io/docs/schema/#file>) says the `"language"` field in file nodes should be empty.

Bug introduced in ht

[2021-02-26 07:59] tgorochowik commented on #690
CC @ivan444

[2021-02-26 12:51] mglb opened #691 "Add integration tests for verible-verilog-kythe-indexer"
Since `verible-verilog-kythe-indexer` output is intended to be passed to Kythe tools, it would be nice to test that the tools accept what has been produced. Things that could be tested:

* Generating Kythe tables from a `verible-verilog-kythe-indexer`'s "entries" file and looking for warnings/errors.
* Starting Kythe server, sending a few requests and checking the replies.

Example test can be fou

[2021-02-27 14:04] ivan444 commented on #691
What's the plan for making the integration test robust? Doing any response expectation limits the variation of the SystemVerilog Kythe facts extraction.

Kythe's Verification Tests do a good job at ensuring the facts we produce are correct (from the perspectice of Kythe schema, not what the tools need). How about checking that the indexer produced at least N facts, compared to expecting the exact

[2021-03-02 16:52] SeanMcLoughlin commented on #528
Probably not with this issue.

Verible is interesting, though. So I'll look around at other open bugs.

[2021-03-03 20:41] udinator opened #693 "Syntax errors due to streaming `with` operator"
The  SV linter is throwing unexpected errors on the `with` construct used in streaming operations, even though this construct is part of the LRM.
Example error message:
`../src/lowrisc_dv_mem_bkdr_if_0/sram_scrambler_pkg.sv:58:28: syntax error, rejected "with" (https://github.com/google/verible).`

Example test case:
[code]

[2021-03-03 20:44] udinator commented on #693
b/181792412

[2021-03-03 21:02] hzeller commented on #693
Context: this is LRM 14.4.14
And yes, confirmed, it is indeed missing.

[2021-03-03 21:06] hzeller commented on #693
Also caught by [sv-tests](https://symbiflow.github.io/sv-tests-results/#Verible|11.4.14.4|dynamic_array_unpack_stream_with)

[2021-03-04 16:59] hzeller commented on #693
More context: this was [indeed thought of](https://github.com/google/verible/blob/35680ebb3eed3ebc0200610252f857fa8e381510/verilog/parser/verilog.y#L3223-L3225) but not added initially due to parser generation conflicts.
(just collecting this here as context for whoever will be working on this)

[2021-03-08 08:29] mglb commented on #691
That's something I had in mind. Also: checking that request for known indexed file doesn't return error, that it returns non-empty string in `source_text` field, etc. This should be reasonably robust.

[2021-03-11 18:55] mithro opened #696 "Consider collaborating with Coala to enable SystemVerilog support"
[Coala](https://coala.io) ([github.com/coala](https://github.com/coala)) is a tool which describes itself as;

It would be awesome if they supported SystemVerilog language by using Verible.

I logged a feature request against their repository at https://github.com/coala/coala-bears/issues/2982

[2021-03-12 15:01] tgorochowik commented on #70
The CI now does this:
https://github.com/google/verible/blob/65bda400fd1adea349c240e6e98bbf8383d67394/.github/workflows/verible-ci.yml#L21-L42

closing.

[2021-03-12 15:01] #70 closed

[2021-03-22 22:58] #531 closed

[2021-03-23 00:49] #444 closed

[2021-03-23 16:20] ldalek-antmicro commented on #445
Hi @msfschaffner,
Just for clarification: all constraints blocks should be expanded?

For example I've found in an Ibex source code such line:
[code]
here: https://github.com/lowRISC/opentitan/blob/master/hw/vendor/lowrisc_ibex/vendor/google_riscv-dv/src/riscv_vector_cfg.sv#L32

and I'm not sure how to procceed.

Current PR expands all blocks except some simple one like that above:
https://github.

[2021-03-23 17:53] msfschaffner commented on #445
Hey @ldalek-antmicro,

How about we standardize on something that only expands if the expression inside the outermost `{}` brackets contains more `{}` blocks or does not fit onto one single line?

[2021-03-24 08:12] silabs-oivind opened #713 "Flush-left upon line break"
**Test case**

[code]

Running with --assignment_statement_alignment=preserve:

**Actual output**
[code]
Given --assignment_statement_alignment=preserve, I'd expect the assign statements to be untouched. At least, the line breaks should not result in flushing left.

Running with --assignment_statement_alignment=infer avoids flushing all the way left, but still leads to peculiar line breaks, result

[2021-03-24 16:21] ldalek-antmicro commented on #445
Thanks for an answer @msfschaffner

Got one more question about multi item constraints like:
[code]
should them be fitted in one line (like you wrote above) or expanded (IMHO looks better expanded)?